[2016-03-29 02:28] hunterjm opened #1 "Build out Bio page"
The `player` object should have everything you need in the `PlayerDetails` component.  We are looking for something similar to https://www.easports.com/fifa/ultimate-team/fut/database/player/20801/Cristiano%20Ronaldo#20801.  I've already got the external links working to link to that page, so we don't need all the information.

We should also leave a space to display the current market rate for th

[2016-03-29 02:36] hunterjm opened #2 "Figure out API"
Need javascript implementation of the EA Sports API.  Will using https://github.com/lorenzh/fut-api work the same as https://github.com/oczkers/fut, or will we need to fork and make enhancements?

Need to make sure we build in rate limiting into the package to make it easy to use across the entire application.

[2016-03-29 02:42] hunterjm opened #3 "Build out Global Preferences pane"
Preferences that were included in the python version (and their defaults) are as below.  We will need to create a component that has the same preferences and updates our redux state as well as persists them to `userData` to be reloaded on app load.

[code]

Currently, I have the button that I was going to use to start bidding on the bottom right of the left pane where players are listed, but we ca

[2016-03-29 02:45] hunterjm opened #4 "Build out Player History"
Once bidding starts, we should show how many of that player was purchased, and what the current buy/sell pricing is in the `PlayerListItem` component.  Once the user clicks on the player, we should keep a history of purchases inside the details section, probably as a new tab next to the Bio (https://github.com/hunterjm/fifa-autobuyer/issues/1).  The API isn't ready yet, but we can start mocking up

[2016-04-03 14:54] hunterjm commented on #2
Built out login in https://github.com/hunterjm/fifa-autobuyer/commit/c944ed8bc79d9ab486285541cf90ecae805a2ddb.  Need to figure out why the email address stays populated in the two factor code input.

[2016-04-05 03:53] hunterjm commented on #2
This API library should work if we use bluebird and `promisifyAll` to convert the callback API to a Promise library so we can use babel's async/await polyfill.

[2016-04-05 03:53] #2 closed

[2016-04-05 03:57] hunterjm opened #7 "Convert Bid Strategy"
Initially, need to convert the bidding strategy from [hunterjm/futgui](https://github.com/hunterjm/futgui/blob/master/core/bid.py) to JavaScript for v0.1.0.  In a future milestone, I want to make the bidding strategy configurable by the user.  I envision a drag and drop type interface loosely linked to the API calls.

[2016-04-06 01:12] GETEM5 commented on #7
Don't mean to intrude however I have a quick suggestion:

If you send the autobuyer to sleep for five minutes every now and then (I think every 30minutes however this can be checked with simple trial-and-error testing) you can prevent the account from being temporarily market banned and thus allow the autobuyer to run 24/7

[2016-04-06 02:50] hunterjm commented on #7
The python version already throws in random sleep intervals, and this one will too.  Unfortunately it isn't as simple as 30 on/5 off.

[2016-06-13 16:28] alxo123 opened #8 "Error while trying to log in"
Hi Hunter, every time I try to log in this error appears in the log and the auto buyer just keeps loading.

"Exception in Tkinter callback
Traceback (most recent call last):
File "c:\users\jason\appdata\local\programs\python\pyth on35-32\lib\tkinter\__i
nit__.py", line 1549, in __call__
File "C:\Users\Jason\Documents\GitHub\futgui\frames\log in.py", line 126, in lo
gin
File "C:\Users\Jason\Documen

[2016-06-14 00:44] #8 closed

[2016-07-22 15:07] erics273 commented on #3
still want help with this?

[2016-10-14 12:45] alexeyvolodin opened #11 "Run error"
I have some problem with starting program.

[2016-10-14 20:47] hunterjm commented on #11
sounds like you haven't done an `npm install`

[2016-10-14 20:49] alexeyvolodin commented on #11
Sorry, but i'm done `npm install`. And i don't understand, why server don't start

[2016-10-14 20:56] hunterjm commented on #11
Why are you running the server command with `nvm exec 6.1 npm run dev`?

Try:
[code]

[2016-10-14 21:27] alexeyvolodin commented on #11
I tried this commands, but error repeated. I think maybe change port in application? Where i can do it?

[2016-10-14 21:30] hunterjm commented on #11
Your error is this: `ENOENT: no such file or directory, open '/var/js_fut/fifa-autobuyer-master/node_modules/electron/path.txt'`

Does the file exist?

[2016-10-14 22:01] alexeyvolodin commented on #11
Yes, this file exist in node_modules/electron folder.

[2016-10-14 22:02] alexeyvolodin commented on #11
content of this file
`dist/electron`

[2016-10-14 22:05] hunterjm commented on #11
If the file exists it has to be a file permissions issue. Why do you have it in`/var`? What OS are you on?

[2016-10-14 22:07] alexeyvolodin commented on #11
Debian.
I can move this project to home directory.

[2016-10-14 22:07] alexeyvolodin commented on #11
`dist/electron` permission is 755

[2016-10-14 22:13] alexeyvolodin commented on #11
I moved project to home directory, remove node_modules, reinstall and have same error. :(

[2016-10-14 22:22] hunterjm commented on #11
I unfortunately don't have access to a Linux box to help debug. It builds and runs fine on my Mac. The project is still in development and isn't fully functional at this time.

You could try running my other project futgui, which does work currently, but won't look as nice.

[2016-10-14 22:24] alexeyvolodin commented on #11
Okay, thanks.
I'm already use your `futgui` project.

[2016-10-17 08:45] moathabdulhadi opened #12 "can any one make video to show how its work"
hello everybody

can anyone make a video on youtube how this is work ? and how its install , im facing hard time to install it

thanks

[2016-10-17 11:13] moathabdulhadi opened #13 "how this is work ?"
hello @hunterjm

thank you for your effort , its really great

but i install it and open it , it request you know , email password and everything
and it's open . now i can search for player , but after that ? what should i do , like if i want only to snipe?

how to make it like that

thank you again

[2016-10-17 13:10] hunterjm commented on #13
This version is still in development and not yet fully functional. For a working auto buyer, look at hunterjm/futgui

[2016-10-17 13:10] #13 closed

[2016-10-17 13:10] hunterjm commented on #12
This version is still in development and not yet fully functional. For a working auto buyer, look at hunterjm/futgu

[2016-10-17 13:10] #12 closed

[2016-10-19 05:24] #11 closed

[2016-10-28 20:56] JSystem1 opened #15 "[Request] Better detail for bid error"
Hi Hunter,

Just want to start off saying thank you so much for your effort and time working on this project I have actually started to learn python as I was that interested in the code from your gui version so thanks.

I know you understand JavaScript a lot better then python and was wondering could you include this feature if it is not to hard/time consuming, I just find if I was getting a detai

[2017-01-05 02:45] MrManiacc opened #16 "Loading loop"
After inputing verification code, it sits on a loop loading forever

[2017-01-05 06:43] hunterjm commented on #16
Which branch are you running off of?  All work is currently being done on `develop`.

Once I've cleaned up the bidding logic and written unit test for it, executables will be released to https://github.com/hunterjm/fifa-autobuyer/releases, so keep an eye out there.  Should be by the end of this week.  I just got my code signing certificates setup today.

[2017-01-05 06:46] hunterjm commented on #15
I wouldn't worry too much about individual bids.  In this version, I will be including a history pane that will give you high level details about the performance of somebody in your list.  It will include things like average profit, average time to sale (how long do you hold on to it after you buy it), price fluctuations (is this a pretty stable player, or does the price rise and drop a lot), etc.

[2017-01-05 06:46] #15 closed

[2017-01-05 06:47] #7 closed

[2017-01-05 06:48] hunterjm commented on #3
completed

[2017-01-05 06:48] #3 closed

[2017-01-05 06:48] hunterjm commented on #1
completed

[2017-01-05 06:48] #1 closed

[2017-01-08 01:09] DAYBOY commented on #16
When will this be released mate? Looking forward to it.

[2017-01-08 12:24] ErhanBicer commented on #16
Hello, when will the new version be released?

[2017-01-10 10:38] PKostya opened #17 "error when run"
![image](https://cloud.githubusercontent.com/assets/10392452/21803206/1f0df430-d73a-11e6-999a-895aebec1844.png)

[2017-01-10 13:19] hunterjm commented on #17
Which branch are you running? Do you have any other cards in your transfer list?

[2017-01-10 20:48] jamessi1989 commented on #17
Had the same issue on feature branch. Cleared transfer list and no issue. Think the variable name was different can replicate and check if it is useful.

[2017-01-10 21:26] hunterjm commented on #17
Interesting. It feels like you had an item in your transfer list that didn't have a resourceId. It would be good to see the values that created the issue so I can test against it.

When I release I'll add some error checking around it so the whole app doesn't blow up though.

[2017-01-10 22:04] jamessi1989 commented on #17
Some stack and console if useful.
[stack.txt](https://github.com/hunterjm/fifa-autobuyer/files/697501/stack.txt)

[2017-01-11 03:42] kledac commented on #17
Im getting a similiar error but the error is relatated to the propriety player.price.buy on the watchlist. Is there a way to solve it?

[2017-01-11 04:31] hunterjm commented on #17
@kledac, do you have auto update pricing turned off in the settings? There is a setting for it, but turning it off is not yet supported.

[2017-01-11 07:54] PKostya commented on #17
@jamessi1989 this error i have when in my transfer list are some players wich i add manual to transfer from ps4

[2017-01-11 11:58] kledac commented on #17
@hunterjm Its all on default. I checked and update pricing is on. I debug the object that the call to FUT is returning and I have noticed that the object is always the same.

I tried to remove a player from my watchlist and know Its a blank space and that player got undefined. How do I clean only the player from my localstorage?

[2017-01-11 19:51] Albvadi opened #18 "Windows 10 Compatibility??"
Hi,
first of all, thanks for this magnific project...

It´s possible use this in Windows 10?
I´m using develop branch. I have problems during server startup and, with a workaround, finally start. I do the login correct, but then, I can´t do anything inside the app. I can´t set prices in nowhere and I get errors in console...

I can provide a lot of details if you want...
Thanks!

[2017-01-11 20:39] hunterjm commented on #18
A Windows installer will be provided with the official release.

[2017-01-11 20:39] #18 closed

[2017-01-12 01:33] hunterjm commented on #17
@kledac How do you know that's not him?  Can you do a `JSON.stringify` of that object so I can see what's in `itemData`? I will definitely add more error checking around the bidding overview screen, as that is where most of these errors are occurring.

[2017-01-12 02:02] hunterjm commented on #17
Hey guys, I just finished unit testing the bid reducer and found a couple bugs in it.  I think it may have to do with what you are seeing.  Checkout the latest version of `feature/cleanUp` and let me know if you stop running into these problems.

[2017-01-12 02:17] kledac commented on #17
@hunterjm Hey, after the pull I still have the same problem =/

Here you go the object.itemData
`{"id":109655578054,"timestamp":1484187177,"formation":"f433","untradeable":true,"assetId":208135,"rating":78,"itemType":"player","resourceId":-1878840057,"owners":0,"discardValue":312,"itemState":"invalid","cardsubtypeid":2,"lastSalePrice":0,"morale":50,"fitness":99,"injuryType":"none","injuryGames":0,

[2017-01-12 02:20] kledac commented on #17
@hunterjm I've just noticed this error also ... maybe they are related:

`bid.js?03b6:156 Error searching auctions Error: Fut api error: {"debug":"","string":"","code":"460","reason":"","request":{"url":"/ut/game/fifa17/transfermarket?type=player&start=0&num=16&definitionId=180819&macr=undefined","options":{"headers":{"X-HTTP-Method-Override":"GET"},"url":"/ut/game/fifa17/transfermarket?type=playe

[2017-01-12 04:29] hunterjm commented on #17
Should be unrelated. The problem with the first one is a player in your watchlist that is not in your player list on the AB.  The second one is an issue with the API.

I'm probably going to delay releasing publicly since EA has been on a ban spree lately until I can verify the login authentication is as undetectable as possible.

[2017-01-12 12:29] kledac commented on #17
@hunterjm No problems. If you want I can help you with testing and reporting that back to you.
I'm studying node, but I'm still learning a lot I don't have the skill to correct and modify things in a meaningful way.

Anyway just let me know and thank you for your awesome work :)

[2017-01-12 18:27] jamessi1989 commented on #17
![error](https://cloud.githubusercontent.com/assets/19503062/21902627/8dc7f6d0-d8f4-11e6-9df1-1bfd43cf5ace.jpg)
Still seeing this. Sorry if it is to do error already discussed, hopefully it is useful. This is was with latest checkin.

[2017-01-12 19:26] hunterjm commented on #17
Can you show me what's in the console error? The source map isn't working in that display. The developer console should have a more helpful error message with line numbers not in `bundle.js`

[2017-01-12 20:45] jamessi1989 commented on #17
![errorconsole](https://cloud.githubusercontent.com/assets/19503062/21907529/cc7d4a02-d907-11e6-847c-2d7a4847644b.jpg)
![errorconsole2](https://cloud.githubusercontent.com/assets/19503062/21907532/ce366ce8-d907-11e6-9ecf-4472e340840e.jpg)

[2017-01-12 20:53] jamessi1989 commented on #17
And this one which is unrecoverable.
![errorconsole3](https://cloud.githubusercontent.com/assets/19503062/21907827/24eb7cd0-d909-11e6-8394-2140eacdce1d.jpg)

[2017-01-12 21:41] hunterjm commented on #17
Can you click on the arrow dropdown of the `bid/set/watchlist` action and drill down into the `action` object and let me see what's there?

[2017-01-12 21:53] jamessi1989 commented on #17
Hopefully this helps [logg.txt](https://github.com/hunterjm/fifa-autobuyer/files/702972/logg.txt)

[2017-01-12 21:57] hunterjm commented on #17
Unfortunately I need to see what's inside the array in `Object {type: "bid/set/watchlist", watchlist: Array[10]}`

Are you able to right click the object and click "Store as global variable"?  If so, you should see something in the console like `temp1` show up.  If you then type `copy(temp1)` in the console, it will copy the entire value to your clipboard which you can paste here using the insert

[2017-01-12 22:10] jamessi1989 commented on #17
Sure,
[newlog.txt](https://github.com/hunterjm/fifa-autobuyer/files/703008/newlog.txt) - code tags did not format it at all well.

[2017-01-12 22:28] hunterjm commented on #17
Is that the array from `bid/set/watchlist`?  If so, that's totally wrong 😞

[2017-01-12 22:35] hunterjm commented on #17
should be fixed in 4079094.  Pull it down and try again.  That was a silly bug 😆

[2017-01-12 23:23] jamessi1989 commented on #17
Aha, running for over 15 mins now seamlessly. This issue is resolved for me.

[2017-01-12 23:38] hunterjm commented on #17
Great. I'll close this ticket out. Feel free to create a new one if there are any other issues you run into, or features you would like to see.

[2017-01-12 23:38] #17 closed

[2017-01-13 01:02] kledac opened #19 "Error on Transfers.js"
I'm opening a issue cause I don't know how to solve this and it's still happening on feature/cleanUp.

<img width="1440" alt="captura de tela 2017-01-12 as 22 59 28" src="https://cloud.githubusercontent.com/assets/1036582/21914498/e28386f0-d91a-11e6-8a00-f80feb61efd7.png">

This happens after adding a player and starting to run.

[2017-01-13 01:31] hunterjm commented on #19
This is because you have cards that are either in your watch list or transfer list which are not being tracked by the app.  I've pushed up a potential fix in af108a4.  Let me know if that works.

[2017-01-13 01:35] hunterjm commented on #19
I very quickly decided I wanted to do it this way instead: ce40f0d

[2017-01-13 01:39] kledac commented on #19
I've noticed that I confess that my implementation wasn't as elegant as your LoL

Anyway, I'm getting the Unknow outbid but no errors anymore :P

Thanks

[2017-01-13 01:40] #19 closed

[2017-01-13 05:21] hunterjm commented on #16
Closing since there hasn't been an update in a while.

[2017-01-13 05:21] #16 closed

[2017-01-13 05:22] hunterjm commented on #4
phase 1 implementation complete

[2017-01-13 05:22] #4 closed

[2017-01-18 14:08] stormlolz opened #22 "Stormshield Endpoint Security : Keylogging Alert"
Hello, when I run the program on windows

![fifa try](https://cloud.githubusercontent.com/assets/20703341/22067132/31d889fc-dd90-11e6-8488-1912d35d698a.png)

I have translate the message in ENG :

"A keylogging attempt made by fifa autobuyer.exe was blocked by Stormshield Endpoint Security"

And when I connect

![image](https://cloud.githubusercontent.com/assets/20703341/22067091/0768879e-dd90-11e

[2017-01-18 14:55] hunterjm commented on #22
Well there isn't a key logger.  If you don't believe me, you can look at the source code 😉 .  It's probably because I use localstorage to save your login information on your computer (it never leaves your machine) so you don't have to log in multiple times.  If Stormshield is blocking functionality of the app, then that is probably why the login is not working.  Can you whitelist it in your virus

[2017-01-18 15:08] stormlolz commented on #22
Hello,

No I can't white list the app on my computer because I'm at work :(

But I try later with my personnal computer, thank you

[2017-01-18 16:29] Albvadi opened #23 "How it´s works??"
Hi,
first of all, thanks for your great work... The UI it´s superb!

I downloaded the windows version, installed correctly without problems and login perfectly.

But now... what?
I can search a player, add to the left sidebar but... I can´t do more steps... or at least, I don´t know wich it´s the next step...
I don´t know how to set the prices, or ranges for any player...

Thanks again!!

[2017-01-18 21:32] jamessi1989 opened #24 "futApiStatusCode": 461"
Perhaps just bid already received from another person.

[21:29:01] Error placing bid on Romero
{
  "futApiStatusCode": 461
}

[2017-01-18 23:16] hunterjm commented on #24
I believe that is what code 461 means. I'll keep this issue as a note to clean up logs to make more legible.

[2017-01-19 00:30] ErhanBicer opened #25 "The server with 1 CPU also running very slowly."
[![fabhj.jpg](https://s23.postimg.org/fy3pb6wez/fabhj.jpg)](https://postimg.org/image/lma0230rb/)

[2017-01-19 00:38] hunterjm commented on #23
Clicking on a player will pull up their details, as well as pricing information based on settings.
Clicking "Bidding Overview" will bring you to the bid screen, where you can start bidding.
You can also start bidding by clicking the "play" button at the bottom of the left bar.
Clicking the gear icon at the bottom of the left bar will bring you to the settings.

[2017-01-19 00:38] #23 closed

[2017-01-19 00:39] kledac opened #26 "futApiStatusCode: 500"
Hey @hunterjm.

I'm getting this error a lot! It seems like i can't bid anyone anymore.

[22:35:18] Error placing BIN bid $750 on Consigli
{
  "futApiStatusCode": 500
}

[2017-01-19 00:41] hunterjm commented on #25
What type of processor do you have?  Does the CPU usage go down when not bidding?

[2017-01-19 00:43] hunterjm commented on #26
Most likely a temporary ban.  What RPM settings are you using?  How long has it been running?  Are you able to place any bids on the [web app](https://www.easports.com/fifa/ultimate-team/web-app)?

[2017-01-19 01:52] kledac commented on #26
I can't bid on the web app also ... probably a ban, hope not permanent...
I'll try on my console tomorrow.

[2017-01-19 02:01] hunterjm commented on #26
Doubtful it's permanent if you can still log in and search for auctions.  If you don't mind me asking, how long did you have it running and at what RPM before you noticed the errors?  I might be able to build in some additional safeguards to automatically stop bidding after a period of time to prevent getting flagged.

[2017-01-19 09:50] Albvadi commented on #23
Hi,
any player I searched, has the same info... all prices are set to 0.

I tryed with the default settings, and lower and upper values, but no changes, always appears 0 in the BIO.

Attach a screenshot with a example...
![autobuyer](https://cloud.githubusercontent.com/assets/6285255/22101684/b72e169a-de34-11e6-8e2f-ad5257b2ebf2.png)

I don´t know whtat it´s failing...

Thanks!

[2017-01-19 11:44] Fotospecht opened #27 "Password not accepted"
My password contains a # character and it is not accepted.

[2017-01-19 12:22] kledac commented on #26
To be honest I don't know for how long, but the RPM was at 16. Maybe three hours?
But I do know that I've set it to snipe only, so maybe something happened there.

[2017-01-19 12:54] ErhanBicer commented on #25
@hunterjm
I run it through Vultr.com's virtual server.. The program is not running because the processor power is high. Can't offer bidding.

[2017-01-19 12:59] ErhanBicer commented on #25
There is no problem with the processor when there is no start-up order. But the kernel is overloaded when the initiation command is issued. ( my english is not very good. i hope understandable. )

[2017-01-19 13:08] hunterjm commented on #26
It's probably more due to the fact that EA thinks you have been searching and sniping every 3-4 seconds for 3 hours straight. The higher the RPM, the earlier EA will issue a temp ban. The trick is finding a middle ground where it is fast enough that you win auctions, but slow enough that you don't get banned.

[2017-01-19 13:08] #26 closed

[2017-01-19 14:16] Fotospecht opened #28 "Where are the settings stored on OSX ? Are multiple instances supported ?"
# @

[2017-01-19 15:28] Fotospecht opened #29 "Sold xyz for undefined!"
[16:25:06] Sold Jemerson for **undefined!**

Small bug from the logs...

[2017-01-19 15:35] hunterjm commented on #29
Good catch.  Will be fixed in next release.

[2017-01-19 15:35] #29 closed

[2017-01-19 15:37] hunterjm commented on #28
Multiple instances are not yet supported.  For this app, I will have multiple logins built in instead of having to start a new instance of the app.  The app is an electron app, which uses Chrome.  Settings are stored in Chrome's Local Storage.

[2017-01-19 15:37] #28 closed

[2017-01-19 15:39] hunterjm commented on #27
The password validation is based off of EA's rules from their password reset page.  It could be that your password is old and from before EA created those restrictions.  I would reset your password on EA's website to follow the new required format.

[2017-01-19 15:39] #27 closed

[2017-01-19 15:41] hunterjm commented on #25
The virtual server likely does not have enough resources to run the app.  I am able to run it locally with no resource issues.  Try upgrading the Virtual Server, or running locally.

[2017-01-19 15:41] #25 closed

[2017-01-19 18:47] Fotospecht commented on #29
Something happened when trying to bid on undefined

[2017-01-19 19:36] OGDiab opened #31 "Since i cant set price settings manually for each card.What basic price settings can i use ?"
@hunterjm thank you for this program .big fan of it and the gui is much better than the last one

[2017-01-19 19:49] hunterjm commented on #31
The default settings are pretty conservative and should work well in most cases. I would run it with those for a few hours, review the logs, and tweak it from there until you have found something you like.

[2017-01-19 19:52] OGDiab commented on #31
@hunterjm thanks for replying so quick but i was messing around with the settings so i dont know the default ones is there any way i can reset them .and what global settings would you recommend to avoid bans

[2017-01-19 20:46] hunterjm commented on #29
This will also be fixed in the next release.

[2017-01-19 20:48] hunterjm commented on #31
10 RPM should be safe for a couple hours a day. Wouldn't recommend ever running 24/7. Default price settings are 90/100/110 with auto update enabled.

[2017-01-19 20:48] #31 closed

[2017-01-20 03:59] FlareRare opened #32 ""futApiStatusCode": 409"
[19:56:26] Error manually re-listing player
{
  "futApiStatusCode": 409
}
[19:56:40] Error manually re-listing player
{
  "futApiStatusCode": 409
}
[19:56:55] Error manually re-listing player
{
  "futApiStatusCode": 409
}

it's omnivoid btw

[2017-01-20 04:10] hunterjm commented on #32
Reference https://github.com/oczkers/fut/issues/27 - Error 409 occurs when trying to list an item for sale when it is already listed.  Will need to add some additional error checking here.

[2017-01-20 04:21] hunterjm commented on #32
fixed in 9967078.  Will be in next release.

[2017-01-20 04:21] #32 closed

[2017-01-20 11:28] Phoenil opened #33 "Can't login"
https://gyazo.com/d5338e38a4adfef5ddc56096805c3c0c

It always says me that. My password has an Uppercase letter, two numbers, and a special char *
I have checked in localstorage the password is fine, i think that there is some problems with the special char in passwords.

[2017-01-20 12:11] kledac opened #34 "Price update on restart"
When I started the buyer today I've notice that the prices remained the same from yesterday so it started buying some player for it's bin price, but after that the prices updated and they were lower than the BIN prices.

I think that on restart of the app the prices should be reseted so that doesn't happen and avoid some potencial coin loss.

[2017-01-20 12:24] hunterjm commented on #33
The AB is configured the follow EA's new password rules. If you haven't changed your password in a while, I would recommend doing that.

[2017-01-20 12:24] #33 closed

[2017-01-20 12:29] hunterjm commented on #34
Can you copy the session log here? Checking if prices need to be updated is one of the first things the AB does when you start bidding. It absolutely does it before buying anything. Nothing I've seen when testing suggests otherwise.

https://github.com/hunterjm/fifa-autobuyer/blob/master/app/actions/logic/index.js#L58

[2017-01-20 19:16] mestesso93 opened #35 "Any Suggestions"
First, thanks so much for this wonderful work @hunterjm. This new program is pretty good and professional! But i think that this program can be better.
So, these are my suggestion:

1. Need features to set price manually. For some players, i win auction at 200 and that players can be sold for 2000 or higher. But i also have in list another player that need 90/100/110.

2. About rpm: i think is bet

[2017-01-20 20:20] RiskTaking opened #36 "Transfer List and Player List"
Great job!!

I noticed that if I have a player in transfer list that is not listed in players list, it will shows as unknown and it interrupt the application from showing who was sold or sometimes to assign a player to transfer list . It shows in my log the player was sold, but not in the current page.
this what it shows only
[13:18:39] Skipping bidding, adjust settings to enable...
[13:18:39] Rem

[2017-01-21 00:30] Daves10 opened #37 "First impressions"
Hello everyone!

First of all thanks hunterjm for the app and make it available.
I'm new to FUT but immediately saw that we could make profit with trading (as in real life..). I used the FIFA mobile app to do it sometimes but one has to work and do other stuff so the profit was not that much. This app will be very helpful for sure.

From what I read on the forums there is a big risk in getting ban

[2017-01-21 04:19] hunterjm commented on #35
I'll address these in the same order:

1. It's on the roadmap
2. We already vary the requests between 75% and 125% of the set RPM value.  You should see this reflected in the timestamps on the logs.
3. This is also on the roadmap
4. This is not currently on the roadmap.  I would need a good source to pull all of the consumable IDs and images from.  If you can help find something similar to [EA Spo

[2017-01-21 14:02] Fotospecht opened #38 "Players are not listed and the list of available items in webapp is growing."
After some days of testing I observed that sometimes the list of available items is growing and that these players are not listed anymore.
Instead I would expect that the autobuyer lists them with the prices of the previous pricecheck. The players are in the playerlist so the prices should be known.

The list of available players is growing - this can be seen in the webapp - but not listed. All th

[2017-01-21 14:04] Fotospecht commented on #38
Listing them manually in the webapp is working fine without errors.

[2017-01-21 21:39] jchengl opened #39 "Error Code: 460"
Trying to bid/snipe but getting this error log:
http://pastebin.com/nwdrG54T

[2017-01-22 01:08] mestesso93 commented on #35
thanks for the reply! for the n°4, futbin have a database of consumables. it's not perfect, but it's a begin.. the IDs maybe is a problem...

[2017-01-22 08:30] d3vilsn0w opened #40 "What am i doing wrong?"
npm ERR! Linux 2.6.32-504.8.1.el6.x86_64
npm ERR! argv "/root/.nvm/versions/node/v6.5.0/bin/node" "/root/.nvm/versions/node/v6.5.0/bin/npm" "run" "hot-server" "--" "--start-hot"
npm ERR! node v6.5.0
npm ERR! npm  v3.10.3
npm ERR! code ELIFECYCLE
npm ERR! fifa-autobuyer@0.1.1 hot-server: `cross-env NODE_ENV=development node --max_old_space_size=4096 -r babel-register server.js "--start-hot"`
npm ER

[2017-01-22 14:02] pdejda opened #41 "futApiStatusCode": 460"
Hello,
I have a problem with the new version after the start of error pops up, even though I have set the bidding program does not work. Any suggestions?

EDIT:  I have a set price buy now for example 1000. In the second account through consoles check the same player and I see some auction at 900-950. Why does not buy?

Example:
[14:56:49] Updating unassigned...
[14:56:53] Updating watchlist...
[1

[2017-01-22 14:37] hunterjm commented on #40
If you are not a developer, what you did wrong is try to run the development environment instead of downloading the executable on the releases page that will install the program on your OS.

[2017-01-22 14:37] #40 closed

[2017-01-22 17:09] ConnorMann opened #42 "This error keeps coming up"
I was curious what this means:
[code]

[2017-01-22 22:45] FlareRare opened #43 "Error: Undefined?"
I am getting weird glitch, and I can't remove it. idk if I should run the autobuyer or not since they are there and I can't remove them.
http://prntscr.com/dz0z1x

[2017-01-22 22:45] FlareRare commented on #43
(I CLICK REMOVE, BUT IT DOESNT REMOVE)

[2017-01-22 22:47] FlareRare commented on #43
nevermind got it! Just clicked clear list, and restarted the app

[2017-01-22 22:47] #43 closed

[2017-01-23 00:02] shiransavion opened #44 "problem"
i login but all the players value is 0 and wen i do start its not doing nothing
i install the setup file i need somthing more?

[2017-01-23 00:03] hunterjm commented on #44
What does it say when you login to the web app? Most likely you don't have the transfer market unlocked yet.

[2017-01-23 11:48] nitramnoe opened #45 "Problem whith player name"
Hey, thanks a lot for your work! You're the best!
(First, sorry for my english)
I notice that when you remove the player from your "target list", his name on the bidding overview become "unknown".

I'm learning node and i'm not enough good to understand it...
I wish i will help you later.
thanks!

[2017-01-23 12:28] drbo0ombay commented on #42
https://github.com/hunterjm/fifa-autobuyer/issues/26

Don't forget to check already posted issues before posting one :)

[2017-01-23 13:01] Fotospecht commented on #38
This error is written to the logs - however a manually listing in the web app is working fine:

[13:57:47] Manually re-listing 3 players.
[13:58:05] Error manually re-listing player
{
  "futApiStatusCode": 461
}
[13:58:17] Error manually re-listing player
{
  "futApiStatusCode": 461
}

[2017-01-23 13:09] #42 closed

[2017-01-23 13:10] hunterjm commented on #38
This will be fixed in the next release.

[2017-01-23 13:10] #38 closed

[2017-01-23 13:13] Fotospecht commented on #38
Thanks.

BTW this program is running far more stable than the FutGui Python program.

After a few days of running multiple instances on my Mac I noticed a memory increase on all instances and a restart was necessary. Looking forward for a version that supports multiple logins  :-)

[2017-01-23 16:26] silverfoxy opened #47 "Password field filter issue with special characters like "!""
If there's a special character, for example an exclamation mark ("!") in the password, the filter prevents the form from submitting and says that your password has to comply to "upper-case, lower-case, ..." rules, upon removing the exclamation mark the error goes away. #46

[2017-01-23 16:56] #47 closed

[2017-01-23 17:24] Alevale commented on #37
What i know about that is that they are still banning people that does that manually with 2 accounts, it is quite shitty but i got a warning myself when trying to pass coins from one account to the other by putting players in the auction with a very high coin rate... So i would avoid it as much as possible :)

It's just a soft ban, and a warning, so you wont really get banned unless they really se

[2017-01-23 21:59] hunterjm commented on #45
It's because we aren't tracking that player.  Unfortunately EA doesn't provide the player's name in the response from the watchlist or tradepile.  We look up that player from your target list, and if they don't exist, default to "Unknown".  The same would happen for any players or consumables in your tradepile that the AB is not tracking.

We could possibly do a lookup based on the ID if it doesn'

[2017-01-23 22:00] hunterjm commented on #41
460 is EA's "Bad Request" error message.  What player are you trying to bid on?  I will see if I can reproduce it.

[2017-01-23 22:01] hunterjm commented on #39
Duplicate of #41 (I know you were first, but I already commented there.  Maybe you can answer the same question).

[2017-01-23 22:01] #39 closed

[2017-01-23 22:03] hunterjm commented on #37
Transferring coins is just as risky as using an AB.  It is definitely on the roadmap along with multi-account support, however.

[2017-01-23 22:04] hunterjm commented on #36
It shouldn't interrupt the AB's bidding process.  The AB just doesn't track those players.  You have the BIN snipe setting enabled, which means that it won't bid on auctions, hence the message in the console.

[2017-01-23 22:04] #36 closed

[2017-01-23 22:05] hunterjm commented on #34
Closed due to inactivity.

[2017-01-23 22:05] #34 closed

[2017-01-23 22:05] hunterjm commented on #22
Closed due to inactivity.

[2017-01-23 22:05] #22 closed

[2017-01-23 22:06] hunterjm commented on #24
This should be fixed in the next release.  There was an issue with the relist player logic.  See 9967078c62efd33cde5f43b6d100e46f841c380d.

[2017-01-23 22:06] #24 closed

[2017-01-23 22:15] pdejda commented on #41
Rose 80 LB and Alli 80 CAM
This is an example, I try to bid on any card. Unsuccessfully :(

thanks for your answer and for this program - you're the best! :1st_place_medal:

[2017-01-24 11:45] shiransavion commented on #44
thank you man work great!!!!
but wen i put only to buy now players is can buy now faster?
wen i find somone buy it befor me
thank you!!!

[2017-01-24 12:57] Daves10 commented on #37
Ok, I will refrain from doing that. Thanks

I still haven't found a good set of players do to the AB, could you recommend me some? The only one so far that has been trading actively is Iborra.

[2017-01-24 13:57] frayzee opened #48 "Manually set bid price"
Is it possible to manually set the prices in the AB? I always have trouble with the automatic prices.

Thanks

[2017-01-24 15:57] jchengl commented on #41
All players that are added to the list shows the same error. The app sits there without bidding/sniping.

[2017-01-24 19:58] Benpano opened #49 "Download"
I am new to this how do I download the new version from the releases page for windows/ OSX like which package do I install

[2017-01-24 22:13] ConnorMann commented on #42
Thanks, sorry I completely forgot :)

[2017-01-24 22:36] #49 closed

[2017-01-24 22:39] Benpano opened #50 "Issue with autobidding"
I keep getting the error message "FutApistatusCode" : 461
This happens when the AB bids first on a player and fails to continue bidding resulting in just being outbid every time.

[2017-01-25 03:16] frayzee commented on #50
Also getting this error.

[2017-01-25 12:42] Elf-1 commented on #37
I also want to share my own first experiences. I really like the design, it's much better than the previous one, good work @hunterjm!! I've been using the bot to just buy players and use them in my team, not specifically for trading anymore. However, there is no option for me to fill in the prices manually and keep the card afterwards, I have to set the purchase price in the settings around the pr

[2017-01-25 13:58] Daves10 opened #51 "Weird Gui Bug"
![bug](https://cloud.githubusercontent.com/assets/25257542/22293087/0a370ff6-e2ed-11e6-92e9-d23e3f55564c.PNG)

Hello, I'm experiencing a weird bug. Please see the picture uploaded for reference. Basically none of the buttons are working except the Play/Stop.

I've already restarted the app, then reinstalled the app and finally rebooted the PC. None have worked...

[2017-01-25 17:11] hunterjm commented on #51
It looks like your player list got corrupted somehow. Try hitting "clear list" and re-adding the players you want.

[2017-01-25 19:21] Daves10 commented on #51
Thanks it worked!

Too bad we lose the info on a specific player and his contribution to lifetime profit once we take him out of the list.

[2017-01-25 19:40] frayzee commented on #41
Having the same problem.

[19:38:57] Removing sold items from tradepile...
[19:39:05] Updating tradepile...
[19:39:15] Updating price for Ramsbottom...
[19:39:32] Preparing to snipe Ramsbottom...
[19:39:38] Error searching for BIN on Ramsbottom
{
  "futApiStatusCode": 460
}
[19:39:38] 0 BIN found for Ramsbottom...
[19:39:38] Getting ready to search auctions for Ramsbottom...[19:38:57] Removing sol

[2017-01-25 20:11] anthonymac commented on #50
it could be because the other person (or bot) bid at the same time your AB did. Oftentimes when I trade manually via the web app or companion, i experience the same thing.

[2017-01-25 20:44] ConnorMann commented on #51
@hunterjm I have also experienced this issue multiple times. Not sure what causes it.

[2017-01-26 03:13] demasc commented on #50
Lads, it was happening with me 'cause I had the companion web app opened simultaneously. I closed that and now it's working fine! Try out

[2017-01-26 03:13] demasc commented on #41
Lads, it was happening with me 'cause I had the companion web app opened simultaneously. I closed that and now it's working fine! Try out

[2017-01-26 13:00] Chronos69 opened #52 "Unknown player?"
I'm bidding on a player (Matri IF), but on "Buying" he appers as Unknown.

He's on the player list, and his name is shown on the Log:

"Bidding 11500 on Matri"

[2017-01-26 17:21] Daves10 commented on #51
I guess that new players do this. It seems that when I add players that switched clubs during this transfer window (fonte, deulofeu, markovic, depay for instance) the app bugs. All players still show their previous club on the app.

[2017-01-26 17:32] Daves10 commented on #51
or having our own players in the transfer list to be sold, it seems the app doesn't handle very well with that..

[2017-01-27 04:55] hunterjm commented on #51
@Daves10 - I am seeing both versions of the card available when searching for deulofeu.  I will make a note to store the player contributions separately from the player list in the future so that removing them from the list doesn't lose their history if you ever were to add them back, and so they will still count toward lifetime profit.

[2017-01-27 04:57] hunterjm opened #55 "Individual Player Settings"
Have the ability to adjust settings for each individual such as max cards and individual pricing limits (also the ability to manually set price).  Should show up as a tab when clicking on the player next to "History" and look similar to the global settings page.

[2017-01-27 05:01] hunterjm opened #56 "Multi-account support"
The AB was written with multiple account support somewhat in mind, but there is still a lot of work to do in order to manage it successfully.  I would like to see it treated as a single account with combined credits and a single player list that each account takes responsibility for certain players.  The credits at the top are combined credits across all accounts, and we add a coin transfer page t

[2017-01-27 05:02] hunterjm opened #57 "Consumable Trading"
We need to create our own database for consumable cards in order to allow them to be added to the list.  An app like Charles Proxy or Fiddler will need to be used to sniff traffic from the web app in order to build a list of all of the IDs of every consumable since EA doesn't include them in the player database.

[2017-01-27 05:05] hunterjm opened #58 "Bidding Schedule"
In global settings, we should add the ability to have users set a time limit for how long they want the autobuyer to run before automatically stopping to prevent potential bans when running AFK.

[2017-01-27 05:07] hunterjm commented on #37
New tickets have been added to address the feature requests here.  See #55 and #58

[2017-01-27 05:07] #37 closed

[2017-01-27 05:07] hunterjm commented on #52
Are you sure the "Unknown" player isn't just somebody else you have listed in your watchlist or tradepile that isn't in your player list?

[2017-01-27 05:09] hunterjm opened #59 "Breakout Bidding History"
Remove history from a child of the player list into it's own part of the state so people can be added and removed from the list without affecting historical tracking and lifetime profit.

[2017-01-27 05:10] hunterjm commented on #51
see #59 for keeping history.  I don't really have time to dig into the root cause of the player list being corrupted, but I am going to close this out as hitting "clear list" is a short term solution.

[2017-01-27 05:10] #51 closed

[2017-01-27 05:11] hunterjm commented on #50
see #24, It's likely the same issue, and will be fixed in the next update.  If you still see it after the app updates itself, please open a new ticket.

[2017-01-27 05:11] #50 closed

[2017-01-27 05:12] hunterjm commented on #48
See #55 for updates and progress on this.

[2017-01-27 05:12] #48 closed

[2017-01-27 05:12] #45 closed

[2017-01-27 05:13] hunterjm commented on #41
Let me know if you had the same problem as @demasc.  Also, you obviously can't have the AB running at the same time you are playing the game.  It just doesn't work that way, EA only lets you do one or the other.

[2017-01-27 05:13] #41 closed

[2017-01-27 05:14] #44 closed

[2017-01-27 05:15] hunterjm commented on #35
see #55, #58, and #57 for updates once work starts on these.

[2017-01-27 05:15] #35 closed

[2017-01-27 10:56] anthonymac commented on #57
FUTBIN's consumable database doesn't work?

[2017-01-27 12:10] Chronos69 commented on #52
Yes, I'm sure.

It only happened with Matri IF (could be the reason that he was a new card?)

[2017-01-27 12:27] Daves10 commented on #37
Thanks man keep it up!

[2017-01-27 13:16] hunterjm commented on #57
I'm sure it would, since they track consumable prices. But futbin doesn't publicly show all the information I need to make this happen.

[2017-01-27 13:16] Chronos69 commented on #52
Still happening with other players:
http://puu.sh/tCqLy/ca8dffd312.png

As you see those "unknown" players must be one of those in the player list (I just checked the log and both are IF Llorente). Maybe a bug/problem with new TOTW players?

[2017-01-27 13:20] Chronos69 opened #60 "Recommended RPM?"
So, from the point of view of the Developer... What's the recommended RPM setting to avoid problems? Stay at 10? Could you go higher? Is recommended to go lower?

[2017-01-27 13:25] hunterjm commented on #52
It could be that there is an issue with converting the trade resource ID back to the base ID for some of the newer IF players.

[2017-01-27 13:29] Chronos69 commented on #52
Seems it also don't remove those "active" trades:

[13:40:35] Updating unassigned...
[13:40:39] Updating watchlist...
[13:40:43] Updating tradepile...
[13:40:48] Preparing to snipe Iniesta...
[13:40:53] 0 BIN found for Iniesta...
[13:40:53] Getting ready to search auctions for Iniesta...
[13:40:56] 0 results (0 in last 5 minutes)
[13:40:56] Updating watchlist...
[13:41:00] Removing sold items from

[2017-01-27 13:31] hunterjm commented on #60
It all depends on how long you plan to run the bot. RPM isn't the only thing EA looks at. They also look at RPD (requests per day). If you only plan to run it for 4 hours a day, 10 RPM is fine. If you want to run it longer, then you need to go lower. There is no safe RPM for running 24/7.

You really just have to find what works best for you. I don't really run the AB unless I'm testing new featur

[2017-01-27 13:34] hunterjm commented on #60
If somebody wants to try a couple different settings and upload screenshots here as proof for how long it takes at varying RPM, it could be useful for when #58 is built.

[2017-01-27 15:43] mestesso93 commented on #56
I think that isn't a good idea. Moving credits between 2 accounts make a serious risk of ban. I think that this feature is not helpful, because can be make a many ban if an user can't be careful. Multi-account only i think is better

[2017-01-27 15:59] hunterjm commented on #56
I would want to build in some safety features on the transfer page.  We can default to "safe transfer" which would look for more expensive players with higher caps such as IF players that have been in one account's club for at least a week, then the other account only bids on it in the closing minutes of the auction instead of buying as soon as it becomes available.

[2017-01-27 23:12] mestesso93 commented on #56
ok, this is a good idea!

[2017-01-28 12:43] Nicorad opened #64 "Buying with old price value"
Hello,

I had a big issue today.

I started using this app yestarday evening for the first time. Works great.
Today, I started the app. It update the player's price.
My first two players are:

Podolski: Old MaxBid (from yesterday evening)->900. Updated to 550/650/750
Gameiro: Old MaxBid (from yesterday evening)->1100. Updated to 750/850/950

Just after the update, the app starting to BIN Snipe Pod

[2017-01-28 21:27] liknelseq opened #65 "Player prices"
I'm experiencing trouble with updating player prices. It usually works for about 3-4 players, then it stops working.

[2017-01-28 21:36] hunterjm commented on #65
Do the logs have any error messages? Are you sure that it's not just because the player's price hasn't changed?

[2017-01-28 21:43] liknelseq commented on #65
I restarted the autobuyer, and now it seems to work just fine. I'll send the error message if it happens again.

[2017-01-28 21:53] #65 closed

[2017-01-28 23:07] #59 closed

[2017-01-28 23:07] #58 closed

[2017-01-28 23:07] #55 closed

[2017-01-29 00:17] ConnorMann commented on #64
Is there perhaps a way where updating player prices more often could be implemented? The market seems quite volatile at the moment.

[2017-01-29 06:48] igortoledo23 opened #67 "Waiting 60 seconds before continuing forever..."
Hi friend,

I have this issue...

[04:47:54] Updating unassigned...
[04:47:55] Updating watchlist...
[04:47:56] Updating tradepile...
[04:47:58] Updating watchlist...
[04:47:59] Updating watchlist...
[04:48:01] Waiting 60 seconds before continuing...

The AB Stil in this message forever... And don't snipe or bid any player.

What is this?

Thanks.

[2017-01-29 10:38] silverfoxy opened #68 "Can't enter more than 3 digits in custom player price tab"
If I edit the predefined prices in player's last tab, I can't enter more than 3 digits in it.
![screen shot 2017-01-29 at 2 08 20 pm](https://cloud.githubusercontent.com/assets/1313190/22403439/6dd96422-e62c-11e6-8fa1-f02249fa4825.png)

[2017-01-29 10:49] Nicorad commented on #64
![capture](https://cloud.githubusercontent.com/assets/5977610/22403466/3df0af90-e618-11e6-8a35-ae0f51e4ffd0.PNG)

Hi,

I try again this morning and did the same with Bolly.

@ConnorMann The problem is not there, because it is happening when the app start, at the first update... But Its a good idea. Currently I'm using the other project and I modify it to update every 40 min...

[2017-01-29 10:56] silverfoxy commented on #68
Under playersettings.js, maxLength has to be minLength I assume, it is set to 9 for Purchase Price but is limited to 3 for List and Listed BIN Prices.

`<div className="option-value">
                      <input
                        ref={sellInput => (this.sellInput = sellInput)} maxLength="3" name="sell" placeholder="Sell"
                        value={sell} type="text" onChange={this.handle

[2017-01-29 13:37] hunterjm commented on #67
Check your settings. Do you not have enough credits? Do you have too many cards in the transfer pile?

[2017-01-29 13:38] hunterjm commented on #68
Yeah, I must have missed that one. Will release a patch soon!

[2017-01-29 15:28] hunterjm commented on #68
Fixed in v0.2.1

[2017-01-29 15:28] #68 closed

[2017-01-29 18:55] mestesso93 commented on #57
Futhead have a database of items and staff (but i can't see staff now). They aren't consumables, but i think that could be helpful

[2017-01-29 20:33] Daves10 opened #70 "Player goes to Unassigned instead of Selling"
Hello,

Every time I snipe Bamba he goes to the unassigned pile rather than selling. So I have to interrupt the app and do it manually.

He{s the only player where this happens. Perhaps because there are 3 versions of him at different clubs?

[2017-01-29 20:50] hunterjm commented on #70
Winning players via BIN always sends it to the trade pile. The app will eventually look in the unassigned pile and should automatically list them once it has made its way through your player list.

Try not to interrupt the app next time and just let it do its thing. If an hour has gone by and he is still not listed, let me know.

[2017-01-30 12:02] Daves10 commented on #70
OK, I left it for 4  hours and still nothing, all Bamba players went to unassigned and stayed there.

All other trades went normally though.

[2017-01-30 12:04] Fotospecht commented on #29
[11:37:28] 0 BIN found for undefined...
[11:37:28] Getting ready to search auctions for undefined...
[11:37:44] Error searching auctions for undefined
{
  "futApiStatusCode": 460
}

[2017-01-30 14:49] Daves10 commented on #70
Also if I can leave a suggestion for a future release it would be nice to complement the Auto Stop with an Auto Start with different RPMs. Or be able to create a schedule.
For instance:
Start at 1pm with 7 RPM for 4 hours
Stop for a couple hours
Start 7pm with 6 RPM for 3 hours
Stop 3 hours
etc etc

Thanks!

[2017-01-31 14:26] Daves10 commented on #70
Final question and then you can close this thread:

Is there any other reason for a 500 error other that temporary ban? I got one this morning when I started the app, but didn't get any message or email. I stopped, then logged in on the console without any problem.
FYI yesterday I used AB for 4 hours with 6-7 RPM for 3 times, morning, afternoon and during the night. So kind of 4 hours, stopped 4 h

[2017-01-31 14:36] Fotospecht commented on #70
From my experience a 500 is always a temp ban and you will not get any message for this type of ban.

I use 4 rpm and the program runs 24/7 without any ban.
A setting of 5 rpm leads to a temp ban after some time, even if I stop the autobuyer every 7 hours for one hour.

[2017-01-31 15:10] Daves10 commented on #70
Thanks that's helpful. How long you've been on 24/7 with 4 RPM setting?

[2017-01-31 15:11] Fotospecht commented on #70
Since about 1 year with the previous Futgui version.

[2017-01-31 15:14] Daves10 commented on #70
All right that sounds proof enough :) Do you stop/log out to play?

I'm gonna try those settings (i was using RPM between 5 and 7 randomly). How much would you say is your average daily profit?

[2017-01-31 15:19] Fotospecht commented on #70
I'm not using my main account for the autobuyer, so there is no need to log out.
Profit is about 15k/day.

[2017-01-31 15:22] Daves10 commented on #70
How do you transfer funds, sell players to your secondary account at slightly higher prices?

[2017-01-31 15:28] Fotospecht commented on #70
I check futbin for gold IFs with PRP range 21%-40% and I never sell for the max price.
Example is Fabregas IF on PS4 , buy him for 100k and sell him for 150k.

[2017-01-31 15:50] Daves10 commented on #70
OK I think I got it. Thanks this has been very helpful!

[2017-01-31 20:06] SargentoDaPaz opened #71 "Translation PT-BR"
Where can I find the file with the application texts? I would like to translate them for PT-BR.

[2017-01-31 20:27] ConnorMann opened #72 "Keep getting this error"
`[15:22:54] Updating unassigned...
[15:22:56] Updating watchlist...
[15:23:00] Updating tradepile...
[15:23:04] Preparing to snipe ...
[15:23:10] 0 BIN found for ...
[15:23:10] Getting ready to search auctions for ...
[15:23:17] 1 results (0 in last 5 minutes)
[15:23:17] Updating watchlist...
[15:23:24] Updating status on 69 active trades...
[15:23:29] Error getting trade statuses: ["9456298554","

[2017-02-01 11:10] Fotospecht opened #73 "kernel_task process CPU load increases on OS X"
I'm running 6 instances of the autobuyer on my Macbook Air.

After 2-3 days the 'kernel_task' process has very high CPU load - up to 95%.

It helps to log out in the autobuyer windows and login in again, but after a few hours the CPU load is again very high. The only solution is to quit the programs and restart.

As long as the program doesn't support multiple logins, it would be nice if the accou

[2017-02-01 15:08] mestesso93 commented on #71
and I can translate in italian (IT)

[2017-02-01 16:25] hunterjm commented on #71
The project wasn't built with internationalization in mind, so there will be some effort required to support it.

[2017-02-01 16:54] Daves10 opened #74 "Buying for more than Max Price"
Hello, something weird just happened... As you can see from the pictures I just upload the AB decided to buy this player at a price above the Max Price and even above the list price...

![capelle](https://cloud.githubusercontent.com/assets/25257542/22516801/be24bbce-e885-11e6-8138-7abbf2240bc7.PNG)
![capelle2](https://cloud.githubusercontent.com/assets/25257542/22516802/be259bac-e885-11e6-81c8-eca

[2017-02-01 17:01] gmeireles commented on #71
Tenho interesse em participar da tradução

[2017-02-01 17:26] hunterjm commented on #74
Yeah, it looks like there are some issues right after a price update that I haven't been able to track down yet.

[2017-02-01 18:02] gmeireles opened #75 "Error After transaction"
Hi!

After completing a transaction the app stop in "updating unassigned" and does does not work anymore. Everytime i need close the app and open again to reset every proccess

![image](https://cloud.githubusercontent.com/assets/1919508/22519258/dc0e0fa8-e896-11e6-8bec-b93dd4873448.png)

Another problem is that I can not do anything if I do not go through the tutorial

![image](https://cloud.githu

[2017-02-01 18:04] hunterjm commented on #75
Do you have someone in your transfer list or watchlist that isn't being tracked by the AB?

You should be able to click "skip" on the bottom left of the tutorial window.

[2017-02-01 18:11] gmeireles commented on #75
Hello @hunterjm
Thanks for ur help
I will try

[2017-02-01 18:19] gmeireles commented on #75
@hunterjm
Skip option worked

The problem in trade still continues

After the app solling Niang i received the message "updating tradepile..."

Then the application does nothing else

![image](https://cloud.githubusercontent.com/assets/1919508/22520012/cea32e18-e899-11e6-9145-79cf5f5f06b5.png)

[2017-02-01 18:35] gmeireles commented on #75
After

![image](https://cloud.githubusercontent.com/assets/1919508/22520668/66195f7c-e89c-11e6-8af1-dd77c2b48fe7.png)

[2017-02-01 19:58] SargentoDaPaz opened #76 "Mad Buy"
Problem:

Started the FIFA AUTO BUYER, I did not update the players, ADURIZ was to buy for 1800, when I checked the log I was buying BIN for 2500.

Can  add a button to update all players automatically?

[2017-02-02 12:12] drbo0ombay opened #77 "Manual price field resets"
Sometime when trying to enter value for Buy/List/Bin prices they just reset and I have ot re-enter them several times. Anyone else experience this?

[2017-02-02 13:15] Daves10 commented on #74
Ok I didn't see these errors before but yesterday and today is pretty clear. I have lost already some coins and have several players on the selling list at prices lower than the buy price. Of course in the grand scheme of things it's still a small loss compares to the gains but this need an (urgent) fix. Thanks!

[2017-02-02 13:52] mestesso93 commented on #77
me too.. I think because the autobuyer check status account wheter non-operating. But i'm not sure

[2017-02-02 13:53] mestesso93 commented on #76
if you have set "same price relist" you must disabled it

[2017-02-02 14:08] SargentoDaPaz commented on #76
Nothing activated

[2017-02-02 15:30] Daves10 commented on #75
Perhaps you have the "BIN snipe only" activated?

[2017-02-02 15:37] gmeireles commented on #75
Hi @Daves10

Now using this option and I have not had so many recurring errors
But sometimes I get error 401

[2017-02-02 16:10] hunterjm commented on #72
the "-1" at the end of that means there is somebody in your watchlist that does not have a `tradeId`.  Go into the webapp and clear out your watchlist and it should resolve this issue.

[2017-02-02 16:10] #72 closed

[2017-02-02 16:11] hunterjm commented on #74
Closing in favor of #64 which was opened before this one.

[2017-02-02 16:11] #74 closed

[2017-02-02 16:11] hunterjm commented on #76
duplicate of #64

[2017-02-02 16:11] #76 closed

[2017-02-02 16:12] hunterjm commented on #77
You need to deselect the "Auto Update Price" checkbox on the player page if you do not want the Auto Buyer to reset the prices based on market value.

[2017-02-02 16:12] #77 closed

[2017-02-02 16:14] hunterjm commented on #75
Error 401 means "Unauthorized" and is usually due to multiple sessions being open for that account.  Are you logged in to the game or the web app at the same time you are trying to run the AB?

[2017-02-02 16:15] hunterjm commented on #73
This should be resolved with #56. I will probably not spend much time digging into this and instead solve these problems with that release.

[2017-02-02 16:15] #73 closed

[2017-02-02 16:16] hunterjm commented on #64
This is on the top of my list.  Unfortunately, I also have a day job, so have limited time to dig into this.

[2017-02-02 16:51] gmeireles commented on #75
all right @hunterjm so true

[2017-02-03 00:53] WillowWillowWillow opened #78 "UI error"
Right after logging in, when the first thing I click is the "play" button (to resume bidding) , I then go to skip the tutorial (because the red-pinging node is annoying to constantly watch), the UI breaks, and I can't view players, switch tabs, or do anything but stare at the white screen seen after logging in.

[2017-02-03 01:27] WillowWillowWillow commented on #60
I dont have the proof (yet), but I'm at 10 rpm and the autobuyer had been going for 8 hours.
I went to school for 8 hours, came back, no 500 errors.

[2017-02-03 04:49] aftershock9 opened #79 "Selling at a loss"
I have found a weird case, where the app is buying players at an amount but then selling them at a lower amount? Has anyone else experienced this? I have bolded it below.

[06:24:54] Updating watchlist...
[06:24:57] Updating tradepile...
[06:25:01] Re-listing expired items...
[06:25:07] Updating price for Cherenchikov...
[06:25:25] Preparing to snipe Cherenchikov...
[06:25:32] 0 BIN found for Cher

[2017-02-03 06:03] hunterjm commented on #79
See #64

[2017-02-03 06:03] #79 closed

[2017-02-04 02:40] hunterjm commented on #64
Once the builds pass for #80, I will release a fix for this.

[2017-02-04 02:50] hunterjm commented on #67
Closing due to inactivity.

[2017-02-04 02:50] #67 closed

[2017-02-04 02:51] hunterjm commented on #75
@gmeireles, can this issue be closed?

[2017-02-04 02:56] rehveal opened #82 "Loads forever after entering security code"
Hi, I just downloaded the Mac version of the autobuyer I'm unable to sign in. I type in my credentials and then paste the code and it just loads forever. Am I doing something wrong?

[2017-02-04 02:58] #82 closed

[2017-02-04 04:08] hunterjm commented on #64
Fixed in https://github.com/hunterjm/fifa-autobuyer/releases/tag/v0.2.2

[2017-02-04 04:08] #64 closed

[2017-02-04 15:20] losersFocus commented on #52
Same for this guy:
https://www.futbin.com/17/player/2446/john

Also appears as Unknown in the Bidding Overview

[2017-02-04 15:54] losersFocus opened #83 "Price development on hourly basis"
Would be nice to have the feature that price development of a player can be viewed on a hourly basis

[2017-02-04 18:19] anthonymac commented on #60
@WillowWillowWillow how many players do u have in your tradepile?

[2017-02-04 18:29] hunterjm commented on #83
You can view hourly pricing on the player history page by clicking on either the today or yesterday tabs on the graph.

[2017-02-04 18:29] #83 closed

[2017-02-04 20:01] Daves10 commented on #78
Clear list and start again!

[2017-02-04 20:45] WillowWillowWillow commented on #78
That's not the issue i'm getting. The 'clear list' button doesnt even work when I encounter this issue. Although its easily fixed by re-launching and skipping the tutorial before doing anything else, it's still an issue that needs to be looked at.

[2017-02-04 20:48] WillowWillowWillow commented on #60
@anthonymac 40, running at 10 rpm, never had a 500 error.

[2017-02-04 20:51] losersFocus opened #84 "Suggestions for Log Ouput Modifications"
Sold {PlayerName} for {Price}, Profit {Number}

would be nice

[2017-02-04 20:56] WillowWillowWillow commented on #84
When a player is sold, the AutoBuyer says:

Sold {PlayerName} for {Price} ... but adding a {Profit} would be really cool.

[2017-02-04 20:56] losersFocus commented on #83
Sure, but it would be nice, if you could go further back in the past.

[2017-02-04 21:30] losersFocus opened #85 "Sniping snipes too high prices"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22621676/962e136c-eb29-11e6-9761-ba19eb40eff5.png)

The screenshot shows, that a player was sniped for 950 and listed with an initial bid price of 950.
The player in question had a min bin at this timepoint of 1000.

Algorithm imo does the following wrong (Not hard to guess, but lets keep it tidy):
It snipes the player for 950 because i

[2017-02-04 21:51] WillowWillowWillow commented on #85
I think a BIN snipe price option should be added, that would be cool.

[2017-02-04 22:01] hunterjm commented on #85
The snipe price is the same as the buy price. When did this occur?  A fix for this should have been released today. I'm not sure what time zone you are in, but if this happened overnight the update may not have been applied yet.

[2017-02-04 22:18] losersFocus commented on #85
I am UTC +1 (23:16 atm). Where can i check my version?

So summarizing the correct behaviour should be in this casse:
Snipe for 850 (Buy price) and sell for 950/1100.

instead of

Snipe for (950) and sell for 950/1100.

[2017-02-04 22:32] losersFocus opened #86 "Force minimum profit of 50"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22622045/6195ffd6-eb31-11e6-9a4d-0f76beab889c.png)
The picture shows, that a player with a low bin price (300) will be bought for 250 coins. There will be no profit, because EA takes at least 50 coins as "transaction costs" (Please confirm this, i am not 100% sure).
This happens due to the fact, that the configuration of prices works wi

[2017-02-04 22:42] Gsoul2k9 commented on #52
same for this guy :
https://www.futbin.com/17/player/17194/sakho

Appears as Unknown

[2017-02-04 23:24] hunterjm commented on #85
The updates should automatically be installed when you restart the program. If you restart and it still says no updates available in the top, you are on latest version.

And yes, that is the correct logic.

[2017-02-04 23:26] losersFocus commented on #85
I restarted several times today and yes, it sais no updates available.
I am on the latest version.

[2017-02-05 00:30] hunterjm commented on #86
That is the responsibility of the user in my opinion. Some players wouldn't ever be able to generate a profit of 100 coins, especially after EA tax of 5% (not 50 coins).

We can make it so the percentage configuration for players is able to be modified on a per-player basis so the auto update still works.

[2017-02-05 03:14] MCPandora opened #87 "Error Code whenever I try It tries to search for a player"
All I get is Error searching for bin, "FutapiStatuscode": 460, and another one that says error searching for auction instead, same error code.

[2017-02-05 03:56] hunterjm commented on #87
Duplicate of #41 - Make sure you are logged out of your console and the Web App, then try again.

[2017-02-05 03:56] #87 closed

[2017-02-05 05:35] hunterjm commented on #78
@WillowWillowWillow - I can't seem to replicate this.  When I press the play button on the bottom left, it brings me to the Bidding Overview screen.  Afterwards, when I go back to the search screen to click on the tutorial beacon, I am able to press skip and continue using the app just fine.

Can you make a short video showing me what you are doing?

[2017-02-05 10:59] losersFocus opened #88 "Autobuyer tries to snipe with insufficient coin balance"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22625556/6dc1d230-eb9a-11e6-9cab-27adde03bcc2.png)

Having about 2k coins and sniping players for about 5k is not fine. AB tries to cheat :)

[2017-02-05 13:04] syros1977 opened #89 "Problems with bidding,buying, sniping and selling!"
there are some problems with the price settings! what percentage do you use for the ab? in order of the options i have 90,100,120% ! but i figuered out after a few snipings that the ab sets the players for the same price on the transfer list. which means that you loose coins. the bin price is always as high as my sniping price, same to the other settings! what am i doing wrong, need some help. at

[2017-02-05 17:05] losersFocus commented on #89
I experience inconsitencies with price calculation as well.
Prices are not correctly calculated. In concrete they are no rounded correctly.

![grafik](https://cloud.githubusercontent.com/assets/24375135/22628058/60a75394-ebcd-11e6-9ad3-6be3935d9487.png)

My configuration:

![grafik](https://cloud.githubusercontent.com/assets/24375135/22628065/6ef182e4-ebcd-11e6-813d-d86a9e67e0b8.png)

I expect the

[2017-02-05 21:55] PKostya opened #90 "Import error"
in master/dev i have some error:
![image](https://cloud.githubusercontent.com/assets/10392452/22630213/c1fe398a-ec06-11e6-8db2-74171b317238.png)
after removing "@import (inline) '../../node_modules/react-joyride/lib/styles/react-joyride-compiled.css';" in
app/styles/main.less all is ok

[2017-02-05 22:50] hunterjm commented on #90
The build is working in windows Mac and Linux if you look at the CI status, so my guess is you probably need to do another `npm install` as the dependencies have changed but you haven't updated them on your machine.

[2017-02-05 22:50] #90 closed

[2017-02-05 22:55] hunterjm commented on #89
1750 is not a valid price, so it obviously won't use that. Increments of 50 are only valid for bids less than 1000.

[2017-02-05 23:21] PKostya opened #91 "Automatically refresh session"
How i can automatically refresh my session ?

[2017-02-06 02:56] hunterjm commented on #91
What do you mean by refreshing your session?  You mean if you do not perform any actions and need to log back in because the session expired?  If so, that will be fixed in v0.3.0

[2017-02-06 03:51] hunterjm commented on #89
v0.3.0 should have some more logic to help with ensuring players are bought at the right price.  Let me know if you still encounter any issues with sniping players for too much.

[2017-02-06 03:51] hunterjm commented on #88
fixed in v0.3.0

[2017-02-06 03:51] #88 closed

[2017-02-06 03:52] hunterjm commented on #85
should be fixed in v0.3.0, but not verified.  Please let me know.

[2017-02-06 03:52] #75 closed

[2017-02-06 03:53] hunterjm commented on #70
In v0.3.0, I updated it to check unassigned every 10 cycles.  Let me know if you are still having issues.  I'll go ahead and close this out for now.

[2017-02-06 03:53] #70 closed

[2017-02-06 07:17] PKostya commented on #91
I mean that when i have large rpm all the stops and restarts when i quit-enter in app

[2017-02-06 07:24] PKostya commented on #60
runnning at 25-50 rpm i had '500' error. At now part of FUT  web app functionallity are blocked.(transfermarket)

[2017-02-06 08:58] Nicorad commented on #64
@hunterjm Many thanks for the fix

[2017-02-06 10:58] anthonymac commented on #85
this exact issue happened to me after the update, when i ran the AB for the first time. after about 5 mins it returned to normal behaviour

[2017-02-06 11:03] anthonymac commented on #60
@WillowWillowWillow ok thanks for the info. I have been rather conservative w/ 4 players all between 1500-3000 coins. Do you run at least 3 hours/day?

@PKostya that RPM is way too high. you are now experiencing a ban. Login to fifa on your console and normal app to see if u can restore functionality. could be a temp ban of 24 hours or could be permanent. Stick to around 10 RPM.

[2017-02-06 11:41] gmeireles commented on #75
Yes ;)

[2017-02-06 12:45] Gsoul2k9 opened #93 "Sniping for higher price then bin?"
[13:42:36] Bought for BIN (650) on Hector
[13:42:42] Bought for BIN (650) on Hector
[13:42:49] Bought for BIN (650) on Hector

How its Possible he buys players who have max bin 600 and he starts to buy them for 650 all?

[2017-02-06 13:51] Nicorad commented on #93
Hi,

Is your app up to date?
Was fixed with release 0.2.2...

[2017-02-06 15:03] Vinz95 opened #94 "Lists of players"
In the next update
it would be possible to see how many cards of the same player I sold? so as to create the excellent lists, what do you think?

[2017-02-06 15:37] syros1977 commented on #93
Have the same problem after update today!  Bought a player with max bid 900 for 950 and puts him on transferlist for min price 800. That doesnt make sense, hehehe

[2017-02-06 16:06] Gsoul2k9 commented on #93
Ye i have the newest update. So i guess something not working correct

[2017-02-06 16:11] hunterjm commented on #93
Does this happen shortly after a price update, or all the time?

[2017-02-06 16:14] hunterjm commented on #94
Go to the history tab after clicking on the player.

[2017-02-06 16:14] #94 closed

[2017-02-06 16:15] hunterjm commented on #85
I've got something else I'm going to try in a bit. Will update here.

[2017-02-06 16:18] Fotospecht commented on #93
Happens shortly after the price update,
Mulumbu should be bought for max. 1500:
`[17:02:08] Updating price for Mulumbu...
...
[17:09:00] Preparing to snipe Mulumbu...
[17:09:13] 16 BIN found for Mulumbu...
[17:09:29] Bought for BIN (2000) on Mulumbu
[17:09:48] Bought for BIN (2000) on Mulumbu
[17:10:03] Bought for BIN (2000) on Mulumbu
[17:10:20] Bought for BIN (2000) on Mulumbu
[17:10:35] Bought

[2017-02-06 16:18] Gsoul2k9 commented on #93
ye happen after price update

[2017-02-06 19:14] drbo0ombay opened #96 "Not listing BIN players"
I'm having issues atm with the AB not listing BIN Players, anyone else had this occur?

[2017-02-06 19:30] drbo0ombay commented on #96
When I stop and start it again I realized that it updates unassigned and lists the item, which it doesn't do after the BIN is bought.

[2017-02-06 19:59] hunterjm commented on #93
@Gsoul2k9, @Fotospecht, @syros1977, @Nicorad - Please try with v0.3.1

[2017-02-06 19:59] hunterjm commented on #89
Found more issues, please try v0.3.1

[2017-02-06 20:00] hunterjm commented on #85
@anthonymac - please try v0.3.1

[2017-02-06 20:08] hunterjm commented on #96
As of v0.3.0, it should update unassigned every 10 cycles, as well as right after you snipe someone.  There have been sparse reports of it not working after a snipe, which I haven't been able to verify, but at least now it should do it every 10 cycles through your player list.

This was meant to help with not needlessly checking the unassigned pile and slowing down the AB.  If 10 cycles is too man

[2017-02-06 20:19] drbo0ombay commented on #96
Oh yea, I can see that now. Really appreciate this by the way!

[2017-02-06 20:34] hunterjm commented on #96
No problem.  Let me know if you run into any other issues.

[2017-02-06 20:34] #96 closed

[2017-02-06 21:24] gertjan22 opened #97 "Error placing bid?"
[22:27:51] Something happened when trying to bid on *******
[22:27:55] Error placing bid on *********
{
  "futApiStatusCode": 500,
  "reason": ""
}

what is this ? please help

[2017-02-06 21:32] hunterjm commented on #97
Usually a temp ban. What RPM settings are you using, and do you have auto stop enabled? It should clear up within 24 hours, but I would decrease your RPM or shorten the amount of time you are running the AB.

How long did you have it running before the 500 errors started showing up? If you want to run 24/7 you should set RPM to 3-4. Previous testing shows 10 RPM to be safe for 6-8 hours before tem

[2017-02-06 21:35] losersFocus opened #98 "Player bought by BIN not relisted sometimes"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22667583/aa611006-ecbd-11e6-804c-099e9feca636.png)

Bought player Kahraba by BIN and it wont be relisted as seen in the image. Just keeps sitting in the unassigned category

[2017-02-06 21:36] gertjan22 commented on #97
i have it on 12 but when i sign in on my ps4 i can make bids on players
 i have the message 2 hours ago

[2017-02-06 22:37] hunterjm commented on #97
You need to wait 24 hours for an to go away.

[2017-02-06 22:53] hunterjm commented on #97
You can still bid on console. It's just web app that is banned.

[2017-02-06 22:53] #97 closed

[2017-02-06 23:11] hunterjm commented on #98
Are you sure that is Kahraba?  It should have shown the name as Kahraba instead of "Unknown".  Can you login to the web app and take a look there to see what it is?

[2017-02-06 23:11] hunterjm commented on #91
I'm sorry, I don't really understand what you are asking for.

[2017-02-06 23:35] Vinz95 opened #99 "error 500"
with the new update i have this error : "error manually re-listing player"
"futapistatuscode" : 500.
How i can solve?

[2017-02-07 00:07] hunterjm commented on #99
Reduce RPM or don't run it for as long. That is a temporary ban. Should work again within 24 hours.

[2017-02-07 00:07] #99 closed

[2017-02-07 02:18] ConnorMann opened #100 "Suggestion: Flag Players on Transfer List to Remain Untouched"
Good Evening,

Not sure if you could do this, but a suggestion to improve the autobuyer is to add an option to flag a certain player or players so that they remain untouched on the transfer list. This would be great for people making investments on a certain player so that they can store how ever many of them they have bought on the transfer list and still run the autobuyer.

Thanks so much for th

[2017-02-07 07:18] Nicorad commented on #93
@hunterjm I think it's ok now

[2017-02-07 09:55] Gsoul2k9 commented on #93
checking. First of all Thumbs up Hunter. Will answer later if that happend again

[2017-02-07 10:14] PMConnect commented on #52
All of my players show up as Unknown, gold rares, one to watches, anything on my trade pile.

[2017-02-07 14:38] syros1977 opened #102 "Still problems with bidding!"
I dont know why, but i have 15 players in my tradepile and some serious problems bidding on them! I dont know, maybe my option settings are bad or something. On the first version it worked perfect with these settings. Can anybody help, or give me a playerlist??

[2017-02-07 15:31] hunterjm commented on #102
Meaning you placed an initial bid, but keep getting outbid, or the AB just isn't buying anyone? Last night the market was on an uptick, so it is difficult for the AB to turn a profit. I was only able to complete one trade last night.

[2017-02-07 15:47] topkek5 commented on #98
i tried this also yesterday, most of the time the player i bought didn't get listed

[2017-02-07 15:48] syros1977 commented on #102
Ok, the ab is just not buying anything! He doesnt even find something to bid on! I had a few bad days earlier but since monday the market seems dead!!

[2017-02-07 15:57] Fotospecht commented on #102
This is not a problem of this autobuyer, the market is declining at the moment.

[2017-02-07 15:58] Fotospecht commented on #93
Seems to be fixed 👍

[2017-02-07 16:33] syros1977 commented on #102
Ok

[2017-02-07 16:52] michiel2304 opened #103 "Suggestion: Create a "Update all prices" button."
When you run the bot for a long time or when you have a lot of players in your list.
Prices sometimes change, it would be good to update prices with one click.

Then you will not use an old lowest BIN and spam buy players for to much because they are all below that initial lowest BIN, but that price has dropped below the prices you buy players.

[2017-02-07 19:30] yousufm5 commented on #103
great idea i found that when running my bot it would buy players for an old lowest BIN would really improve the bot if this feature was added.

[2017-02-07 19:36] losersFocus commented on #102
Ofc it also depends on your player list and configurations. I made last night 4k net in 5h

[2017-02-07 19:52] losersFocus commented on #98
Ok, this problem gets severe now.
None of my bought players - bought by auction or by bin - are listed anymore. :( :(

[2017-02-07 20:59] losersFocus commented on #100
What do you mean exactly. I have hard times to understand you :).
Do you mean, that there should be a option to disable players for trading?
They (and their statistics) would still be visible in the list but they wont be actively bought and sold by the AB.

If you mean that, than i give you a big thumbs up.

Sidenote:
As soon as I have time, I will help to implement a player database.

[2017-02-07 21:27] losersFocus opened #104 "Player corpse in the player list"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22712208/4261962a-ed84-11e6-98f0-f527aaf81a5a.png)

Yo beloved AB dudes.
Another issue making this niece piece of software only 99.999% pretty.

Can't delete some single players. I can remove them as often as I want, but they wont disappear (See picture). Only thing, that helps, is deleting the whole player list, which is surely no opti

[2017-02-07 21:57] hunterjm commented on #98
I'll look into it.

[2017-02-07 22:45] WillowWillowWillow commented on #78
I'm actually not even encountering the error anymore, so it seems that it was either that version of the ABer, or just a compatibility error with the way I was launching the ABer, anyways, it seems to be fixed!

[2017-02-07 22:45] #78 closed

[2017-02-08 01:07] hunterjm commented on #104
Do you know what actions you performed to cause this to happen? For the life of me I can't reproduce it.

[2017-02-08 01:08] hunterjm commented on #102
Closing as this is due to market fluctuations and not a bug in the program.

[2017-02-08 01:08] #102 closed

[2017-02-08 01:10] hunterjm commented on #103
Prices are updated automatically every hour. If you restart the bot and prices for players haven't been updated, it will search them.

The bug with buying players for the old price settings was fixed in v0.3.1

[2017-02-08 01:10] #103 closed

[2017-02-08 01:11] hunterjm commented on #93
Closing as it appears to be fixed.

[2017-02-08 01:11] #93 closed

[2017-02-08 01:12] hunterjm commented on #89
Closing, fixed in v0.3.1

[2017-02-08 01:12] #89 closed

[2017-02-08 01:13] hunterjm commented on #85
Fixed in v0.3.1

[2017-02-08 01:13] #85 closed

[2017-02-08 06:51] losersFocus commented on #98
Happens 70% - 100% for buys buy BIN.

[2017-02-08 07:31] googlme123 opened #106 "Search Player Chemistry?"
Is there an option for Player Chemistry to Search that Also?

[2017-02-08 09:09] PMConnect commented on #104
It's happened to me most days, sometimes even if I clear the list it will come back. The only way I've managed to remove it is to clear the list, exit the app then reload it.

[2017-02-08 09:11] PMConnect commented on #57
https://www.futbin.com/consumables

They have this which you could use for pulling the prices in?

[2017-02-08 09:12] PMConnect commented on #100
I think he means when you add a player to snipe or bid on you can tick a box that says "Don't relist this card when purchased". It means if you are looking to invest in a player and buy lots of his card to sell at a later date you can just store them on the transfer list without automatically relisting them.

[2017-02-08 10:06] frayzee commented on #106
No. However an option to search for a select Chemisty style of a select position on a playet would improve the coin earning potential of this AB 1000%. I'm not sure how difficult to impliment this would be as Hunter has already done fantastic work we can't complain.

[2017-02-08 11:22] ConnorMann commented on #100
That's what I mean

[2017-02-08 15:11] Daves10 opened #107 "The Buying Screen Data Is Not "Live""
Hi again jason, this app keeps getting better and better!

However I noticed that the Buying screen does not show the actual value and i think this is causing problems in the re-bidding process.

For instance, if I change the screen from Current to Logs and then go back, the "Expires" number on the buying screen always go back to a certain value, which shows this is not "live" data. I don´t know i

[2017-02-08 15:24] TJGames97 opened #108 "Question: How is my account information being stored?"
Thank you for your effort to make this program, seems to work perfectly so far. I'm just wondering how my account data is being stored. Thanks for your time!

[2017-02-08 15:25] hunterjm commented on #107
The Overview screen starts the countdown from the time EA provides, and only updates when we check the auctions again.  It's always updating, but not every second, because that would get you banned.  It gets updated as the Autobuyer makes it's way though the bidding cycle, but I have definitely prioritized actually bidding on cards and winning auctions over updating the Overview display.

461 usua

[2017-02-08 15:30] hunterjm commented on #108
This app uses Electron, which is a way to use web technologies on the desktop.  At it's core, it is just a self contained Chrome browser window with some additional features.  Since at it's core, this app runs in Chrome, we use local storage to save your account information, player list, bidding history, and settings.  It remains on your local computer, and only gets sent out to EA's servers to lo

[2017-02-08 15:31] Daves10 commented on #107
OK got it. I'm with a low RPM so that could be the cause of it.

How long does it take between automatic update prices, 1 hour? Can we make it shorter?
I think it should be lower as if I update the price manually I see that the price went down and that I'm willing to buy the player at a higher price.

[2017-02-08 15:35] hunterjm commented on #107
I can probably add the update interval as a global setting.

[2017-02-08 15:36] #107 closed

[2017-02-08 15:41] Daves10 commented on #107
Sure! thanks!

[2017-02-08 15:43] Daves10 opened #109 "Change Automatic Price Refresh Interval"
Hi hunter, could we please have a setting that let´s us choose the interval we want for all prices to be automatically refreshed? I'm guessing all settings will be "safe", but would be nice to know what is the minimum we can go.
Thanks!

[2017-02-08 15:47] TJGames97 commented on #108
Fantastic, and thanks for getting back to me so quickly. Also, it appears that someone is selling your program on eBay... Not sure if you can do anything about it, but you should probably have your name somewhere obvious in the program as well as a link to donate or something. Just a suggestion, but otherwise, thank you!

[2017-02-08 16:09] TJGames97 commented on #109
I was going to post the same thing. My items keep listing for the same price before it updates.

[2017-02-08 16:22] hunterjm commented on #108
That's funny.  Do you have a link to the auction?  Technically, I licensed this software under [MIT](https://github.com/hunterjm/fifa-autobuyer/blob/master/LICENSE), which means anybody who obtains a copy is free to do with it what they want so long as they provide a copy of the MIT license with it.

[2017-02-08 16:32] hunterjm commented on #109
You can go as low as you want, but then you would be constantly refreshing prices and never bidding!

[2017-02-08 16:37] TJGames97 commented on #108
http://www.ebay.com/itm/FIFA-17-Ultimate-Team-Autobuyer-PREMIUM-AUTO-UPDATING-/112295072624?hash=item1a254ed370:g:FuAAAOSw9GhYmN83 I see, just want to make sure you get the proper acknowledgement rather than everyone else tagging their name onto it.

[2017-02-08 17:05] hunterjm commented on #108
I appreciate it.

[2017-02-08 17:11] #108 closed

[2017-02-08 18:22] TJGames97 opened #110 "Suggestion: Option to Save Player Lists"
I'd love to be able to save/load different player lists so I don't have to manually search every player when I clear list. Thanks!

[2017-02-08 18:48] losersFocus opened #111 "Suggestion: Selling out and stop"

[2017-02-08 19:15] hunterjm commented on #111
Can you provide more details?

[2017-02-08 19:27] losersFocus commented on #111
As a user, I want to have the option to tell AB, that it should stop working after all players on the transferlist have been sold.

[2017-02-08 23:03] Oloshka opened #112 "Failed to compile"
Running `npm run dev` I got error:
[code]

File `../../node_modules/react-joyride/lib/styles/react-joyride-compiled.css` really doesn't exist. But `../../node_modules/react-joyride/lib/react-joyride-compiled.css` exists.

[2017-02-08 23:06] jperez10 commented on #112
You need to go into the package json and remove the ^ in the react-joyride
dependency, the update took out the lib folder so it wont work with the
carrot.

On Wed, Feb 8, 2017 at 6:03 PM, Alexey Nurmukhametov <
notifications@github.com> wrote:

--
Jose Perez
C. 704-858-2589
E. jperezromero10@gmail.com

[2017-02-08 23:27] TJGames97 commented on #109
To add to this, maybe it could have the option to refresh the price before every time it lists someone. One time today the bot refreshed the price when a snipe was up, so it got rid of all my investments for half price. I think this option would help prevent that.

[2017-02-09 13:42] hunterjm commented on #112
Fixed on develop branch

[2017-02-09 13:42] #112 closed

[2017-02-09 17:50] Bob930 opened #114 "Bought players don't get listed."
I have set a player to be bought for 350 and sold for 450. The programm somehow doesn't list the player after it wins a bid.

[2017-02-09 18:39] Fotospecht commented on #114
Which player exactly ?

[2017-02-09 20:46] mestesso93 commented on #104
i've got this error too some day ago.

I've only click "remove" and i got this error. I think i've made a double click, but i'm not sure. But i've got the error with the same price  (650/700/750) with a player, ings. I think that error is casual, and the only way to remove it is clear list. For this, maybe a function to save player list settings can be helpful

[2017-02-09 20:50] mestesso93 opened #115 "New TOTW appears as "Unknown""
I've set the AB on a new player of TOTW. If i check the log, the name appear. But if i check BUYING, SELLING, UNASSIGNED, this player appear as "unknown"

[2017-02-09 20:52] mestesso93 commented on #114
i've got same issues. I think that cause is last update. Simply the bidder win the auction and automatically send players to "unassigned" but the AB doesn't sign in the box "unassigned". I can view this player only with web-app

[2017-02-09 21:06] hunterjm commented on #111
You could set min credits to a number higher than you have. Then it won't buy anybody new due to the credits restriction, but will still relist players. Once everything is sold, the AB will go in a sleep mode only making one request a minute.

[2017-02-09 21:33] hunterjm commented on #114
Duplicate of #98

[2017-02-09 21:33] #114 closed

[2017-02-09 21:36] hunterjm commented on #86
Also, in the example above, you would still make a 35-82 coin profit.

[2017-02-09 21:36] #86 closed

[2017-02-09 21:36] hunterjm commented on #115
Duplicate of #52

[2017-02-09 21:36] #115 closed

[2017-02-09 21:38] #60 closed

[2017-02-09 21:39] #91 closed

[2017-02-09 22:02] TJGames97 opened #116 "Problem: Trying to Sign In on a Different Account"
When I try to sign in, after I input my text verification code, i get the error "unknown response. Unable to login." I am able to login to the web app in my browser, so I don't think it's necessarily a problem connecting to EA. Any help is appreciated. Thanks!

[2017-02-09 22:19] hunterjm commented on #116
I would verify your credentials and secret question answer and also make sure you are able to search players in the web app as well.

[2017-02-09 22:41] TJGames97 commented on #116
Hmm, I changed my password, and also checked my security question by logging into the companion app, and it still won't work. Web app is also fully functional, and it also works on the console. This problem started when I tried to swap over to a different account from my main one. I also tried deleting the autobuyer files and reinstalling, but that still didn't do it.

[2017-02-10 00:15] mestesso93 commented on #115
ops, sorry

[2017-02-10 01:39] hunterjm commented on #115
No problem. I just try and keep the issues clean because I use them to determine what to do next (when i have a couple hours to spare)

[2017-02-10 04:09] Bob930 commented on #114
hunterjm, this isn't a duplicate to issue #98. The players that it has won through bidding just stay in the "bidding section" and don't even get sent to unassigned.

[2017-02-10 04:12] Bob930 opened #117 "Bought players don't get listed"
I have set a player to be bought for 350 and sold for 450. The programm somehow doesn't list the player after it wins a bid. The player just stays in the active transfers window with a expiry -1. They don't even get sent to unassigned. This isn't a duplicate of issue #98

[2017-02-10 10:43] Fotospecht commented on #117
Could you check if this happens with Rincon / Juventus version ?

[2017-02-10 12:35] TJGames97 commented on #116
I think I may have found something that might be causing it. When I login to the web app, I immediately get a 500 internal service error. But when I refresh, it opens the web app just fine. This doesn't happen on my account that works with the autobuyer. Any thoughts on what could be causing this 500? Thanks!

[2017-02-10 12:39] TJGames97 commented on #116
https://www.easports.com/fifa/login_check?state=sxWBqCN4C5wjtkg7mPLQBOJgq6j99GsCkacGOfcHnHM&code=QUORAMF-Fpc8h88nyE6OH8DcFZIaloh9nlhV9UgmAQ  That's the URL when the error comes up, so it's clearly failing some login check...

[2017-02-10 13:53] blackstarrxx opened #118 "Permission Denied"
Hey,
everytime it finds a BIN for one player, I get this error code

"futApiStatusCode": 461,
  "reason": "Permission Denied"

for what is that?

[2017-02-10 13:54] Fotospecht commented on #118
Somebody was faster with sniping the player.

[2017-02-10 13:57] blackstarrxx commented on #118
Okay, thank you:) I am new at using a fifa bot, what settings for request per minute should i use to be safe for at least 1 or 2 hours?

[2017-02-10 13:59] jperez10 commented on #118
I run it at 10 rpm for 6 hours and have no issues

On Fri, Feb 10, 2017 at 8:57 AM, blackstarrxx <notifications@github.com>
wrote:

--
Jose Perez
C. 704-858-2589
E. jperezromero10@gmail.com

[2017-02-10 14:02] blackstarrxx commented on #118
thank you but could i increase it maybe to 20 ? or is it unsafe for being banned after some time?

[2017-02-10 14:14] jperez10 commented on #118
I believe the limit is around 4000 request in a 24 hour period
without being banned. If you are only running it for two hours a day I
don't think you should have a problem. But again that's just my thoughts.

On Fri, Feb 10, 2017 at 9:02 AM, blackstarrxx <notifications@github.com>
wrote:

--
Jose Perez
C. 704-858-2589
E. jperezromero10@gmail.com

[2017-02-10 14:22] blackstarrxx commented on #118
without being banned. If you are only running it for two hours a day I
don't think you should have a problem. But again that's just my thoughts.

okay but if I would set 60 requestPM, does it make difference how many players i want to snipe`?

[2017-02-10 18:36] #118 closed

[2017-02-10 19:54] mestesso93 commented on #118
Make RPM low. I try some months ago set 45rpm. Got ban in 30 mins!! Safe RPM is 5-7

[2017-02-10 21:31] Daves10 commented on #116
This also happens to me with my secondary account. However, after trying on the web app i have the following message "Continue Playing FUT 17 On The PlayStation 4 To Unlock Access To The Transfer Market". Its weird since I am already on Division 8, so i played like 14 online games and 6 single player games. I thought it should be enough but apparently I need to keep playing.. perhaps you have the

[2017-02-10 23:58] CodeMakerMike opened #119 "Bidding Fails"
will attempt bids/buys and fail every time, even after clearing data and re-logging in.

[18:57:29] Error placing bid on Kanté
{
  "futApiStatusCode": 500,
  "reason": ""
}
[18:57:29] Something happened when trying to bid on Kanté
[18:57:30] Error placing bid on Kanté
{
  "futApiStatusCode": 500,
  "reason": ""
}
[18:57:30] Something happened when trying to bid on Kanté

[2017-02-11 01:04] hunterjm commented on #119
This is a temporary ban. Please use the search. This topic has been discussed multiple times.

[2017-02-11 01:04] #119 closed

[2017-02-11 09:49] frayzee opened #120 "Can't BIN snipe a single player?"
I've been using the AB for a couple of weeks now and the bidding part of the AB works very well however the problem I have is when I set it to BIN snipe only I've never won a single player, I've got a solid fibre internet connection and run some tests that shows I have a good ping to the EA servers.

Has anybody else had this problem? I feel Like the AB has a delay between searching for the player

[2017-02-11 12:15] losersFocus opened #121 "Bug: Buying List not updated!"
![grafik](https://cloud.githubusercontent.com/assets/24375135/22853624/f4c14890-f05b-11e6-981d-162993c87704.png)

The pic above beatifuly shows, that the buying list wont be refreshed.
I am sorry to say, that i dont know how to reproduce this.

[2017-02-11 13:11] losersFocus opened #122 "Feature: Modified min BIN price calculation"
1. Check min bin price and amount of players having that price M_COUNT.
2. If M_COUNT is very small compared to the total offer of the player (Like 1-3 players usually) buy them all.
3. Immediately update the price (Which should be now reflect the min bin without some few outliers, that might wrongly drop the min bin price)

[2017-02-11 15:38] mestesso93 opened #123 "Suggestion: autosearch player in the club"
Today i discover some players in my club that have a big value thanks to SBC of dele alli. I sold them at 10k in a few second. So i think, is it possible make a research in own club and autosell some items that have a value up to some credits that we can set? Like a feature with "update price" when we research a player in a market, but in own club. And if it's possible, make a flag at some players

[2017-02-11 19:29] Pasiak24 opened #124 "Can't snipe or bid permission denied"
Since Thursday I can't buy players because of error:

futbidstatus 461
permission denied

Do someone has the same problem?

[2017-02-11 19:39] mestesso93 commented on #124
Other player make an offer fast than you, so you lost the auction/you must increase your offer.

[2017-02-11 19:41] mestesso93 commented on #122
that's can be helpful. So, i notice that AB randomly buy with BIN. So, maybe BIN to 1000 but there are some bid to 500. I think that can be helpful make a priority of bid too.

[2017-02-12 01:41] CodeMakerMike opened #126 "can't update "undefined" players"
[20:37:44] Updating price for undefined...

never gets passed that error.

Also, what players/bidding settings have people found that work? I'm struggling

[2017-02-12 03:45] edenhazard7 opened #127 "In a span of 24 hours"
How many hours can I use the autobuyer? and in chunks of how many hours?
Thanks!

[2017-02-12 04:29] WillowWillowWillow commented on #127
It all depends on your RPM. If you have it set to 7, run it for about 7-9 hours.

 8 rpm, 6-8 hours | 9 rpm 5.5-7.5 | and at 10 RPM I would only recommend to run it for about 5 hours, as most people usually get multiple "500 errors" around that time

[2017-02-12 04:32] WillowWillowWillow commented on #126
check out a few posts I made on the elitePVPers forums about settings, they might help you
[http://www.elitepvpers.com/forum/fifa/4231209-release-free-bot-fifa-17-autobuyer-6.html](url)
Now, when it comes to you're 'undefined' error, try re-installing, or just clearing your player list.

[2017-02-12 05:00] edenhazard7 commented on #127
Thanks, will run it for four hours a day at 10 RPM! If its not too much to ask, what % do u set the auto bid, sell and bin to?
 I used 95, 100, 105 with Joao Moutinho but he wouldn't sell.
 Thanks!

[2017-02-12 11:14] mestesso93 commented on #127
to sell a player, you must choose one very popular (like musa?) or a player helpful to sbc. At the moment a good player is pedro, but there is a very high risk. Bid to player helpful to sbc!

[2017-02-12 13:40] losersFocus opened #128 "Important! "Unable to send to tradepile""
![grafik](https://cloud.githubusercontent.com/assets/24375135/22862551/24598e02-f131-11e6-8816-92e94f296a9e.png)

Please fix this asap, as it might cause bots to be banned!

[2017-02-12 14:19] hunterjm commented on #128
In all likelihood, this is a temporary ban itself unless your transfer list is just full.

[2017-02-12 14:24] losersFocus commented on #128
Oh ofc i forgot to mention, that my list is full. AB should detect this and stop trying to send a player to the list

[2017-02-12 14:25] Benglennon123 opened #129 "my Autobuyer has stopped working!!!"
Hi woke up this morning, started the update and found that my program has stopped working. It can never find the players prices. I have unistalled and re-installed many times is there any other fixes.
Thanks, Ben
#125

[2017-02-12 14:55] hunterjm commented on #129
No need to uninstall or anything. Probably was running too long and got a temp ban. Try again in 12 hours or so.

[2017-02-12 14:55] #129 closed

[2017-02-12 14:57] Benglennon123 commented on #129
Okay thanks , Think your right anyway to automate how long it runs for and make it take breaks periodically?

[2017-02-12 15:00] hunterjm commented on #129
You can set the auto stop setting to determine how long it runs. Basically you can make 4000 requests in 24 hours. I would set your RPM and your Auto Stop to reflect that, depending on how long you want it to run.

[2017-02-12 16:20] michiel2304 opened #130 "Cards that have multiple versions seem to stay in unassigned."
I was trading with Sakho, who has a Crystal Palace card and a Liverpool version.
The autobuyer buys the right version, the one i selected, but it does not sell it for some odd reason.

Any idea how to solve this problem?

[2017-02-12 16:37] Fotospecht commented on #130
Same problem here with Rincon.

[2017-02-12 18:13] Daves10 commented on #130
This is what i meant in #70 !

[2017-02-13 02:08] mestesso93 commented on #130
cards purchased with bin price too!

[2017-02-13 03:57] hunterjm commented on #130
Does the player show up as "Unknown" after it buys it in the "Overview" tab?

[2017-02-13 04:00] #127 closed

[2017-02-13 04:01] hunterjm commented on #126
Do you have any weird looking players in your list (No name or picture)?  If so, clear it out and re-build it.

[2017-02-13 04:02] #124 closed

[2017-02-13 04:05] hunterjm commented on #122
The logic is already similar.  Take a look at https://github.com/hunterjm/fifa-autobuyer/blob/master/app/actions/player.js#L84

Instead of checking for a low number of players, it checks for a high number at the same price and drops the price we want to pay down one level.

[2017-02-13 04:11] hunterjm commented on #120
There is a delay based on your RPM between searching and sniping.  This is to make the AB seem human and help prevent bans.  If your RPM is 10, the AB won't place a bid on the found player for 5-7 seconds after the search is complete.  If you want to snipe, you should increase the RPM and run the AB for a shorter period of time.

The magic formula is `4000/60/{RPM}` which gives you how many hours

[2017-02-13 04:11] #120 closed

[2017-02-13 04:14] hunterjm commented on #116
@Daves10 - Buy a player or two from the transfer market on the console, and it should unlock the web app.

[2017-02-13 04:15] hunterjm commented on #117
Let's keep track of this in #130.

[2017-02-13 04:15] #117 closed

[2017-02-13 12:05] Gsoul2k9 commented on #130
yes shown as Unknown

[2017-02-13 12:27] Daves10 commented on #116
It seems that 20 is the magic number. After completing 20 matches I could finally unlock the web app. I had already bought and sold a couple of players in the console but it didn't do anything.

[2017-02-13 12:41] Fotospecht commented on #116
It takes 6-8 games in 2-3 days to unlock the webapp.

[2017-02-13 13:01] Benglennon123 commented on #129
Any advice on wheat players work best?

[2017-02-13 16:09] mestesso93 commented on #130
with bin price them they're not appear in AB but only with login into web-app in the "unassigned"

[2017-02-13 17:28] Bob930 commented on #130
It's only happening with players who have a 2 cards. One at one club and one at another. I hope this is helpfull.

[2017-02-13 17:31] Bob930 commented on #130
Oops, ignore this previous comment please.

[2017-02-14 04:04] hunterjm commented on #130
I think I've got this fixed in the upcoming v0.4.2 release.  Will let you know when live.

[2017-02-14 04:11] hunterjm commented on #98
I think this is the same issue as #130, in which case, will be fixed in v0.4.2

[2017-02-14 04:12] hunterjm commented on #121
What shows up in the "Name" column?

[2017-02-14 04:17] hunterjm commented on #52
Related to #130, should be fixed in v0.4.2

[2017-02-14 04:55] hunterjm commented on #130
Release is live. Let me know if it fixes your issues.

[2017-02-14 04:55] hunterjm commented on #52
Fix is live.

[2017-02-14 04:55] #52 closed

[2017-02-14 04:56] hunterjm commented on #98
Fix is live

[2017-02-14 04:56] #98 closed

[2017-02-14 06:12] Bob930 opened #133 "Only bids in last five minutes"
Is there any way that one can make the autobuyer bid on cards with more than 5 minutes left? That would be very usefull!

[2017-02-14 13:14] edenhazard7 opened #134 "Slow at Sniping?"
The autobuyer seems to work pretty well. I am still finding good players at % to use but the program misses 100% of snipes.
 Should I use a VPN in UK? So that there's less ping?

[2017-02-14 13:41] hunterjm commented on #133
What is the point in tying up your coins so early?

I guess it can be a configurable setting.

[2017-02-14 13:47] Bob930 commented on #133
I think it should be configurable setting, because for example I have a player that I am buying for 700 and selling for 900. All the players in the last five minutes already have a bid for 700 so I would have to bid 750. But I saw that the players with around 15min left hadn't had a bid on them yet. Till they reached the last five minutes they always had a bid. I also have 350k so I don't mind tyi

[2017-02-14 14:54] Nicorad commented on #133
@Bob930 I agree with you. For the past two years, I made my own AB in C# (I'm not a developper, not handling RPM, lot of crashes, this is why I stop it and use this one), Anyway, during the various tests, I pointed out that it was sometime more efficient to bid at 10, sometimes 15 min. It depends on the player...

[2017-02-14 18:23] daniele85 commented on #121
Same problem for me, the "name"column shows correctly the name of the (different) players.

[2017-02-15 11:50] splifter opened #135 "Unable to get account info persona"
The login fails for me with the error message "Unable to get account info persona". Code and answer are correct.
I'm also logged out everywhere else.

[2017-02-15 12:20] Bob930 opened #136 "Software autoupdates price of player despite of no tick in players settings for automatically update price"
Software autoupdates price of player despite of no tick in players settings for automatically update price

Some players prices (as described in the title) get updated despite of no tick next to automatically update prices in players settings. It sometimes updates prices without letting me know in logs of the bidding overview. In fact it even says: Auto update prices for (player name) is disabled.

[2017-02-15 12:45] Bob930 commented on #133
So are you planning on making it a configurable setting?

[2017-02-15 14:33] TonDanone opened #137 "The bot takes a long time to list players bought"
The bot takes a long time to list players bought, this causes loss of coins because when it will list, prices have already fallen a lot, Causing losses, Remembering that this delay problem occurs only for players bought in buy now, players bought in the bid are listed quickly in my case, I hope they solve because I see that the developer has done a beautiful job so far, thank you and sorry Poor En

[2017-02-16 01:01] hunterjm commented on #136
It shouldn't be doing that, especially if you get a message saying it's disabled.  I can't see anywhere in the code where it would do that.  We are checking the `autoUpdate` variable everywhere prices are concerned.

[2017-02-16 01:05] hunterjm commented on #135
@splifter - Are you sure you have a persona for the platform you selected?  The platform option is what you play the game on (PC, Xbox One, PS4, etc).

[2017-02-16 01:13] hunterjm commented on #109
@WillowWillowWillow will be tackling this feature.

[2017-02-16 01:21] hunterjm commented on #121
Do you perhaps have a `-1` somewhere in that list of tradeIds in the error output?

[2017-02-16 01:31] frayzee commented on #134
This autobuyer has a huge problem when it comes to sniping.

All other bots instantly try to snipe a card once a search shows one is availabe no matter what you RPM is set at, this is the only way sniping can ever work on a bot.

On this bot it can take up to 5 seconds before it tries to snipe a player it finds, you will NEVER snipe a player for a decent profit with this bot.

The only way to make

[2017-02-16 02:39] hunterjm commented on #134
I'll turn that around on you and say if you donate at least $25, I can update sniping functionality within a day.

I do this on my free time, when I have time.

[2017-02-16 03:00] hunterjm commented on #130
@mestesso93 - that is a different issue.  See #137.

[2017-02-16 03:01] hunterjm commented on #137
I think I may have a fix for this in the works.  I'm going to hold off on releasing until I get a couple more changes ready though.

[2017-02-16 04:52] Bob930 commented on #136
It just know happened to me again. I made sure there was no tick but it still did it.

[2017-02-16 04:53] Bob930 commented on #136
*now

[2017-02-16 05:06] hunterjm commented on #136
Are you attempting to auto-update some players but not others?

If not, is the box unchecked in both the global settings and the individual player settings?

[2017-02-16 05:42] Bob930 commented on #136
I am not updating any players prices. The box is ticked in the global settings but not in the individual player settings.

[2017-02-16 08:51] daniele85 commented on #121
I now managed to delete the list from the Web app, deleting the expired
items and manually assigning the unassigned ones.

I'm not 100% sure but I think there were some -1.

Thanks!

Il 16 Feb 2017 02:21, "Jason Hunter" <notifications@github.com> ha scritto:

Do you perhaps have a -1 somewhere in that list of tradeIds in the error
output?

—
You are receiving this because you commented.
Reply to t

[2017-02-16 09:24] frayzee commented on #134
@hunterjm I wasn't being rude, I do appriciate all the work you've done.

I've sent you $10 just now, I'll send the other $15 when I snipe my first player ha ha! Again thanks for you're work so far bro.

[2017-02-16 12:38] hunterjm commented on #136
Try to uncheck the box in the global settings, and see if the issue still occurs.

[2017-02-16 12:59] Bob930 commented on #136
Ok

[2017-02-16 13:05] hunterjm commented on #136
If that works, let me know.  I'll try and figure out why the player setting is not being honored.

[2017-02-16 13:47] hunterjm commented on #134
https://github.com/hunterjm/fifa-autobuyer/releases/tag/v0.4.3

[2017-02-16 13:47] #134 closed

[2017-02-16 13:48] TonDanone commented on #137
In my opinion this is the biggest problem of the bot, when it is solved the profits will increase and the losses of currencies will be greatly reduced, thanks for the work one more time, I await news.

[2017-02-16 13:48] hunterjm commented on #137
Let me know if you've still got an issue with the latest release: https://github.com/hunterjm/fifa-autobuyer/releases/tag/v0.4.3

[2017-02-16 13:48] #137 closed

[2017-02-16 15:24] celioreyes commented on #133
@Bob930 this should be out tonight.

[2017-02-16 15:58] michiel2304 opened #139 "Suggestion: Under the total profit, list Profit this session, or per day."
When you have done a lot of trading, it becomes harder to see how much you made, especially when you dont have the log open all the time.

WIth a profit per session/day value you can easily see how well you did that session/day.

[2017-02-16 16:09] frayzee opened #140 "Suggestion: Search/snipe for any card from one club"
Would it be possible or too difficult to impliment a way of the bot searching to snipe any player from a single club. For example right now every MK dons player is selling for max BIN, rather than search for each player individually if the bot was set to search for all players at once at a set price the potential to make serious profit would move up over 1000%.

The same scenario works for the Mar

[2017-02-16 16:20] gmeireles commented on #140
Nice!

[2017-02-16 17:02] dolnma opened #141 "Updating price for ... "player""
Hello, i have a problem with still updating price for some player. I tried many players, but error occurs in every case. Thanks for help.

[2017-02-16 18:24] JON-GAMES opened #142 "Group to discuss better players to use AB."
First of all, congratulations to @hunterjm
I would propose setting up a group for tips on which players make more profit.
Unfortunately, it's hard to find a player who makes a big profit.
So I think it's cool to share among us AB users, when we find some.
Well until now I only got good profits with the montoya but now it is not yielding anymore.
Does anyone have good player tips for AB?
Thanks eve

[2017-02-16 18:49] hunterjm commented on #130
Closing, as I have not heard anything in a while.

[2017-02-16 18:49] #130 closed

[2017-02-16 18:54] michiel2304 commented on #130
For me it is fixed in the latest version.

[2017-02-16 19:31] daniele85 opened #143 "Suggestion to improve the bidding when error 461 occurs"
I noticed that when error 461 occurs the auction is then lost almost all the times. I think that this is due to the fact that somebody else has already placed a bid higher than the bot, during the time between operations, which is quite high unless one increases the RPM a lot.

Maybe a good strategy could be that, right after a 461, the bot looks immediately (bypassing the rpm cycle) for the curre

[2017-02-16 19:33] mestesso93 commented on #143
in my hopinion this feature make a serious risk of ban

[2017-02-16 19:42] daniele85 commented on #143
yes that's possible, maybe an intermediate solution would be to give priority to the auction that gets a 461, in the sense that the next action of the bot (while respecting the rpm time) would be to update *that* auction and then bid on that. This shouldn't make a huge difference in terms of risk of ban, since the action would be delayed normally, it would just get priority with respect to other a

[2017-02-16 20:02] hunterjm commented on #143
This should actually be fixed in the latest version as well. Right before a bid action is made, we immediately refresh the current status of the trade.

The AB still waits based on the RPM before attempting to bid, but the current price is updated. The Web app already does this, so we should be ok on the ban front.

[2017-02-16 20:02] #143 closed

[2017-02-16 23:17] danielcoutz opened #144 "Please increase the maximum of characters of email on login screen"
My email is danielcoutinhomedeiros@gmail.com and i just can't log in because there's some limit on email textfield. Please fix this. I think its very easy for you guys.

[2017-02-16 23:53] hunterjm commented on #144
This will be fixed in the next release (e7c7487).

[2017-02-16 23:53] #144 closed

[2017-02-16 23:54] hunterjm commented on #141
Most likely a temp ban from searching auctions.  Are you able to search on the web app?

[2017-02-17 00:02] hunterjm commented on #140
Possible, yes, but that would probably fall lower on my priority list, as it is currently possible to already add players from those clubs to your player list.  I understand that this isn't as efficient as adding a club search on the whole; but, looking at the market, all players from MK Dons are not all going for the exact same price (https://www.futbin.com/17/players?page=1&club=1798&sort=xbox_p

[2017-02-17 00:25] frayzee commented on #142
One thing you will learn in the world of AB's is that nobody is going to share their list with you.

[2017-02-17 03:12] celioreyes commented on #133
@hunterjm https://github.com/hunterjm/fifa-autobuyer/pull/145

[2017-02-17 11:39] frayzee commented on #140
It a scenario that only works with the Marque Matchup SBC's.

Every week there is a few clubs that will have every player even bronze going for a minimum of 1000 coins, if you set the bot to buy at 600 sell at 1000 for every player from that club the potential for short term profit is immense.

Obviously the more filters you can add, Bronze, Silver, Gold, Defender, Midfielder, Attacker, the potent

[2017-02-17 11:45] devmeireles opened #146 "Definitive ban"
After two weeks using the app i made a profit from 80k but EA banned my account

![image](https://cloud.githubusercontent.com/assets/1919508/23064162/81d3b8b0-f4f5-11e6-92fb-93027bac5749.png)

[2017-02-17 11:49] JON-GAMES commented on #146
This happened to me. Do you speak Portuguese BR? I'll explain how I got my account back.

[2017-02-17 12:01] gmeireles commented on #146
@JON-GAMES Falo português brasileiro sim, por favor, pode me dar uma força?

[2017-02-17 12:05] edenhazard7 commented on #146
How much RPM for how long did you use?

[2017-02-17 12:06] edenhazard7 commented on #142
I think this could work because someone would share a player with whom they made 10k per day if they found a player who made them 20k per day.

[2017-02-17 12:09] gmeireles commented on #146
@edenhazard7 i used preconfigured RPM 10 but in my player list i had 5 players
For this reason maybe RPM would be 50

[2017-02-17 12:48] hunterjm commented on #146
@gmeireles did you use the auto stop functionality to stop bidding after 6 hours at 10 RPM, or did you run 24/7 and get lots of temporary bans before the permanent ban occurred?

[2017-02-17 12:52] gmeireles commented on #146
@hunterjm i run 27 8 hour per day without interruptions
I believe it's permanent I have not yet accessed my console

[2017-02-17 13:29] JON-GAMES commented on #146
Então. Recebi o mesmo Ban enquanto utilizava o AB fUTGUI ANTERIOR A ESTE.
O que eu fiz foi enviar e-mail para lets_talk@ea.com perguntando pq tinha sido banido...basicamente apelei para a cara de pau. Liguei na EA e falei com alguns representantes dizendo que não sabia e que eu apenas fazia trade e jogava. Depois de uns dias minha conta foi desbloqueada....Ai fiquei umas semanas sem usar o AB. Qua

[2017-02-17 13:31] gmeireles commented on #146
@JON-GAMES Tu escreveu em inglês mesmo?
Eu não tenho celular bro :/

[2017-02-17 13:34] JON-GAMES commented on #146
Te mandei um e-mail me responde lá.
Ai ja te mostro o modelo do e-mail.

[2017-02-17 15:54] frayzee commented on #146
You have to use an AB like a human would use the web app.

If you get greedy an abuse it you WILL be banned no matter what AB you use.

Never use your main account on an AB.

[2017-02-17 16:03] gmeireles commented on #146
Thanks @frayzee

[2017-02-17 23:31] michiel2304 commented on #146
@JON-GAMES Could you translate your message to english? Or send me a private message if that is possible on this site.

[2017-02-18 00:22] n0me1 commented on #146
@JON-GAMES Could you please elaborate in English?
@hunterjm have you got any experience in dealing with this?

[2017-02-18 02:44] edenhazard7 commented on #146
I got banned too :(
I only used it for 5 hours max at 10 RPM
Can someone please help me get my account back?

[2017-02-18 09:13] frayzee commented on #146
You have to be really, really stupid to use your main account on a bot.

[2017-02-18 13:55] mestesso93 commented on #146
i've got ban too! But it's ridiculous, i've use this AB only 2 hours and not every day with 5-6-7 RPM! I've lost 140k credits :(

and, i've got ban when i don't use AB :(

[2017-02-18 15:25] JON-GAMES commented on #146
I also just received the ban definitely. :(
The procedure I performed the first time I received the ban and it worked out was to send email and call EA .... I'm trying again I hope it works again.

I used 6rpm I performed for two hours and rested 1 hour ...... Few players and little profit.

[2017-02-18 16:06] mestesso93 commented on #146
yesterday many players being banned. That's not depends about this AB, but about ALL autobuyers! I think that in this period, when the EA upgrade the players, we must be careful with autobuyer..

[2017-02-18 20:31] Daves10 commented on #146
I also got banned, and I was only using the AB with 5 RPM for 3 hours with auto stop, 2 or 3 times a day.. only 2-3 players, use 3 hours, stop 4 hours, use 3 hours, stop 4, use 3 and that was that for the day. This seemed to me conservative compared to what most people told here that was their settings.

[2017-02-19 10:20] S1M0N38 opened #147 "Transfert credit without getting BANNED"
## This method worked for me :

[![IMAGE ALT TEXT](https://i.ytimg.com/vi/znNMcBTPs3k/hqdefault.jpg?custom=true&w=246&h=138&stc=true&jpg444=true&jpgq=90&sp=68&sigh=2RdUWbXw6bnT_4KjRAhjfyNjS04)](http://www.youtube.com/watch?v=znNMcBTPs3k&feature "Transfert credit without getting banned")

[2017-02-20 12:30] zboing opened #148 "unknown response. unable to login"
When I try to sign in, after I input my text verification code, i get the error "unknown response. Unable to login."  I am able to login to the web app in my browser, or from the android app. Any help is appreciated.
Platform: PS4
App: Windows FIFA Autobuyer 0.4.2
Notes: I do not have a secondary account
Thanks!

[2017-02-20 15:57] syros1977 commented on #146
They banned mine too i guess, i cant enter! They are telling me to contact the ea help support because of some technical problems!! Anybody a clue?

[2017-02-20 16:36] splifter commented on #135
Hey @hunterjm,

of course not... fixed that and it worked well.

What i figured is that the first times i tried to login and had my secret wrong i couldn't login one more time without restarting the application. Maybe a bug?

Thanks a lot for your great work here!!!

[2017-02-20 17:37] mestesso93 commented on #148
i've got this error when i receive a permanent ban

[2017-02-20 19:25] syros1977 commented on #146
im going to contact the support to ask why they ban me! they need to explain that. do you think they know about that AB? because the bidding and buying was done like a human beeing, so i dont think they figuered that out that it was a AB.

[2017-02-20 20:37] frayzee commented on #146
Of course they knew you were using a bot that's why you're banned!! This is the risk we take and it's why we don't use main accounts on bots.

[2017-02-21 03:58] syros1977 commented on #146
Of course i didnt use my main account!

[2017-02-21 09:19] zboing commented on #148
I do not have a ban.

[2017-02-21 14:38] Daves10 commented on #146
Using this account I never got error 500 or temporary ban,  so I'm guessing everybody must have been banned...

[2017-02-22 15:02] easygoing93 opened #150 "Transfer market is not enabled for this account"
I get this error message when trying to log into AB: Transfer market is not enabled for this account.

Anyone knows why maybe?

Thanks

[2017-02-23 10:25] Bltfast commented on #150
you have to play with that account in order to unlock transfer market.. At least ten fut games, trainer tasks, and the initial SBC.

[2017-02-23 13:02] anthonymac commented on #146
sorry to hear guys :( i haven't used the AB in over a week. looking at the settings some of you used, i would  have been banned too :s. Perhaps good to wait until all the winter upgrades are completed?

[2017-02-23 13:04] anthonymac commented on #142
...then everyone will use those players and you'll have everyone's AB competing for that player = value goes down.

[2017-02-23 14:36] gmeireles commented on #146
Someone else banned?

[2017-02-23 17:43] rafaelget opened #151 "Connection error"
Anyone else having problems to connect?

I think that they changed something on the login urls.

[2017-02-23 18:17] phpBiggs commented on #151
I think you right!
I also have problem in login!

[2017-02-23 18:40] DroiderLinux commented on #146
@gmeireles I was banned too, is there a way to unban the account?
@JON-GAMES can you explain how did you get your account back?

[2017-02-23 19:49] phpBiggs commented on #148
I think the urls of login had been changed.

[2017-02-24 11:14] ManikandanGuru commented on #148
Just now downloaded the latest version. Same problem.
0.4.3
Error: unknown response. Unable to login"
Any fix for this?

[2017-02-24 11:14] ManikandanGuru commented on #151
Same problem for me.
Can't able to login. Unknown error.

[2017-02-24 11:23] frayzee commented on #151
Unfortuantely you have all been banned, take more care and attention next time.

[2017-02-24 14:05] ManikandanGuru commented on #151
I am not banned. I am playing it fine on my PS4.
This is the first I am trying to login this program, and it's not logging in.

[2017-02-24 14:06] rafaelget commented on #151
I don't think so, I still can access on console, webapp and companion app.

[2017-02-24 16:46] losersFocus commented on #151
I can confirm that.
@frayzee is wrong. Login failure is not related to a ban.

[2017-02-26 00:27] israeliMaster opened #152 "About ea bans - please read and share us - I think I know why you got ban!"
I want to figure out how EA detect us and ban us, it will help me and everyone here to be more clever.

I am using FIFA-Ultimate-Team-Toolkit (using c#, not javascript) more than 4 months , and got several bans,  and some users didn't get any ban (read later to know how I didn't get ban even it's run for several weeks),.

I'm only using it for me and my friends, not to sell coins, it's only to buy

[2017-02-26 10:41] phpBiggs commented on #152
I think the main reason for ban is the repeatable and fast quest.. I mean, even in PS4, if I repeat and be fast making the same thing, I'll get a ban. For exemple, I've got a temp ban, for make human snipping in PS4.
I'm so bad in English, so sorry for any error.

[2017-02-26 12:12] israeliMaster commented on #152
phpBiggs, **in this topic, I'm not talking about temporary ban**, temporary ban is totally automatic and happen if you do too many search , buying , selling in some minutes/hours.

the solution is to limit the search, sell and bid every minute, for example no more than 3 bid in a minute etc..

**But in this topic I'm not talking about temporary ban of search, bid and selling** , I'm talking about

[2017-02-28 09:17] dolnma commented on #152
i got ban today as well...

[2017-02-28 09:27] israeliMaster commented on #152
#dolnma what did you do ?

What was the delay between search and buy ?

[2017-02-28 09:30] dolnma commented on #152
everything was on default (10 sec) and i set up stop after 6 hours.

[2017-02-28 09:31] israeliMaster commented on #152
I think you sould do random time and not certian time of delay

[2017-02-28 09:51] dolnma commented on #152
wait, you mean temporary ban or permanent ban?

[2017-02-28 09:51] dolnma commented on #152
i got email from EA about banning my account.

[2017-02-28 09:54] israeliMaster commented on #152
I dont underatand what did you do

I didnt any ban from two of my accounts

[2017-02-28 10:37] israeliMaster commented on #152
I think you sould do random time and not certian time of delay

[2017-02-28 10:37] dolnma commented on #152
ah. I just using this autobuyer for 3 weeks and from today i got probably permanent ban (im not actually on my desktop). Can you tell me, how can i make second account?

[2017-02-28 21:41] Benglennon123 commented on #129
Hi I've recently had my account banned im not angry or nothing just wished
to inform you so you know there is an issue here, anyway i can get this
coins back though ?

On 12 Feb 2017 3:00 pm, "Jason Hunter" <notifications@github.com> wrote:

[2017-03-01 14:57] gmeireles commented on #148
![image](https://cloud.githubusercontent.com/assets/1919508/23465208/4a649d60-fe76-11e6-8823-9c8e8e259589.png)

[2017-03-01 18:29] Benglennon123 opened #153 "I got banned?"
i recently received a permant ban of ea. I am not angry in anyway way i new what i was getting into and risked it all because this program looked fun. Anyway i can get some of the coins i had on my old account onto a new one.

[2017-03-02 10:22] alodavide commented on #151
I have the same problem. Any solution yet?

[2017-03-02 13:06] gmeireles commented on #151
I have the same problem

[2017-03-02 13:07] alodavide commented on #151
It seems that fifa has changed few urls. I saw changes in other auto buyer softwares.

[2017-03-02 13:37] losersFocus commented on #151
which Other ab software?

Get Outlook for iOS

On Thu, Mar 2, 2017 at 2:07 PM +0100, "Davide Alocci" <notifications@github.com> wrote:

It seems that fifa has changed few urls. I saw changes in other auto buyer softwares.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-02 13:39] alodavide commented on #151
Look here https://github.com/oczkers/fut/issues/250

[2017-03-03 00:09] alodavide commented on #151
here an other : https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/333

[2017-03-03 06:18] larssonsun commented on #152
rendom is useless . i just search and buy by my hand once. 5h later, banned.

[2017-03-03 18:32] drozdzowy opened #154 "Unknown Response"
Im getting Unknown Response. Unable to Login?

[2017-03-04 17:28] hoelzlichiller commented on #154
same here

[2017-03-08 10:41] pdejda opened #155 "This project is dead?"
We can not log on for a long time. It's the end of the program?

:sob: :sob: :sob: :sob: :sob: :sob: :sob: :sob:

[2017-03-09 19:09] phpBiggs commented on #155
Hunterjm, project's devolper, not respoding any issue or chat in Gitter. Something happen, probably.

[2017-03-10 04:36] MCKuma commented on #155
He has a new project, he made a new auto buyer for fifa 17 if you'd just check.

[2017-03-10 13:14] hoelzlichiller commented on #155
that would be awesome!

[2017-03-12 00:06] johnyboy87 opened #156 "NotWorking!?"
So i setup a new account to try this out, i have all correct details etc, but it won't go past the login screen. I have entered details correctly and still cant go past the login. also an older version requires a pass code?

[2017-03-12 16:31] johnyboy87 commented on #155
Has this been resolved yet?

[2017-03-12 18:08] phpBiggs commented on #155
Not yet, Johnyboy87. Hunterjm is busy at work, We've got to wait.

[2017-03-12 19:44] johnyboy87 commented on #155
Roger that, hopefully we don't have to wait to long. Do you know what it is he does out of interest, because it must take some knowledge to create somthing like this..

[2017-03-12 21:35] hunterjm commented on #155
The login is fixed.  Will be released shortly.  I'm a Software Engineer professionally as well ;)

[2017-03-12 21:36] hunterjm commented on #156
Fix will be released shortly.

[2017-03-12 21:36] #156 closed

[2017-03-12 21:36] hunterjm commented on #154
Fix will be released shortly.

[2017-03-12 21:36] #154 closed

[2017-03-12 21:36] hunterjm commented on #153
If the account is banned, there is no way.  Sorry.

[2017-03-12 21:36] #153 closed

[2017-03-12 21:38] hunterjm commented on #151
Fix will be released shortly.  Sorry for the delay.  Got really busy at work.  Thanks @alodavide for the references to the other projects.

[2017-03-12 21:38] #151 closed

[2017-03-12 21:38] hunterjm commented on #148
A fix will be released shortly.  Sorry for the delay.

[2017-03-12 21:38] #148 closed

[2017-03-12 21:38] #155 closed

[2017-03-12 21:46] johnyboy87 commented on #156
cool beans man look forward to trying it.

[2017-03-12 22:05] johnyboy87 opened #158 "Do I need to do anything?"
Please excuse my lack of knowledge @hunterjm but with your update is the process automatic? Or do i need to be putting new code in manually and delete old code etc? If so i'm not to sure off what needs to go where and all that jazz, with me being very inexperienced with HTML and JAVA etc.
I have been reading up though on how to use a bot correctly in best ways to try and avoid detection.

Thanks i

[2017-03-12 23:11] johnyboy87 commented on #158
never mind, i see its automatic :)

[2017-03-12 23:33] johnyboy87 opened #159 "New Account Trouble"
@hunterjm at login got all the verification etc but then a message saying ''Transfer market is not enabled for this account'' Its a new account sharing my gold status etc from my main account

Thanks in advance.

[2017-03-13 00:00] hunterjm commented on #159
You need to play more games on that account, and do the manager tasks.

[2017-03-13 00:00] #159 closed

[2017-03-13 00:00] #158 closed

[2017-03-13 05:58] johnyboy87 commented on #150
sbc?

[2017-03-13 08:02] Jord0546 opened #160 "Bug?"
![bug](https://cloud.githubusercontent.com/assets/26268428/23846043/cbb631a4-07cb-11e7-97d6-11a4fd0333a1.PNG)

What does this mean?

[2017-03-13 08:20] Jord0546 commented on #160
Also the lifetime profit doesn't work for me. It says 0 credits - 0 trades while I already bought & sold about 15 players.

btw great tool this! Tysm for sharing

[2017-03-14 03:13] johnyboy87 commented on #150
btw i've played 10 games now on FUT, 9 wins 1 draw and completed all manager quests. still getting TRANSFER MARKET NOT ENABLE etc. which is nuts because 2 of the manager quests deal with buying and selling a player lol.

[2017-03-14 03:16] hunterjm commented on #150
Can you login and bid on players on the web app at easports.com?

Time is also a factor. Keep playing, eventually it will unlock.

[2017-03-14 03:55] johnyboy87 commented on #150
No i've not tried using the web app on PC, I'll give it a try though. should be ok since i can trade on xbox.

[2017-03-14 04:25] hunterjm commented on #150
It's not the same. They add more restrictions around web app so people don't go crazy creating tons of new accounts with no effort.

[2017-03-14 05:19] johnyboy87 commented on #150
Oh ok so just keep playing then, i just used the web app and went to the transfer section and got the on screen message ''keep playing to unlock etc'' so i'll spend a night or two doing a couple of FUT single player seasons until it unlocks.

[2017-03-14 11:29] GoncaloPT commented on #160
I'm not sure cause i didint look into the code but for me, reading the API responde message, this means that someone had already bought the player ( BIN probably ) so you will not be able to bid, just like it happens in the game

[2017-03-14 18:12] phpBiggs opened #161 "Desativate bid war"
Is possible to desativate bid war? I mean, the ab start to bid a player with the fixed price, because when bid war starts, 99% of times, I lose it.

[2017-03-14 23:15] benbenedek commented on #146
Few newbie questions, how do you get an additional account to bot on (don't you need to buy another game)?  And then how would I go about transferring money?

[2017-03-15 09:49] MickdeGraaf commented on #161
I can't think of a reason to turn it of. It works to your advantage if you inflate the prices so that when you sell there won't be any cheaper players left

[2017-03-16 21:33] GoncaloPT commented on #136
This bug happened to me ( lost some credits due this :( )

After i've experienced this behavior some times i realized that it  is triggered when i visit the History tab

[2017-03-17 01:01] GoncaloPT commented on #161
How many players are in your list? If you have a big list you will lose bid wars..

[2017-03-17 11:30] brunovky commented on #60
Reviving the topic a bit, what would be the recommended RPM limit for single-player sniping?

[2017-03-17 18:48] phpBiggs commented on #161
Only 4 players...

[2017-03-17 23:44] johnyboy87 opened #162 "tips and advice on using the program effectively?"
Well it final worked for me @hunterjm it must of been a time period to wait as well. so for anyone out there, have you any tips. I've started using this program with less than 5k coins and I have 3 players in my my list. So far in about 2 hours I have gained only nearly 800 coins profit. I know I can't start getting big coins until I have more capital etc, but what are the best settings to use in

[2017-03-18 12:22] SargentoDaPaz opened #163 "Did the wave of bans stoped?"
?

[2017-03-20 20:42] alodavide opened #164 "Mobile Companion login"
Is there any plan to add Companion login? I am getting 'auction stuck' every 1000 search and I have read that switching to mobile app login can overcome the problem. I am happy to help is it is needed.

PS: great job! :)

[2017-03-22 15:38] johnyboy87 opened #165 "Unkown Errors"
So this errors have been coming up and i don't know why!?

[15:35:31] Something happened when trying to bid on Bender
[15:35:31] Updating watchlist...
[15:35:38] Preparing to snipe David Luiz...
[15:35:45] 0 BIN found for David Luiz...
[15:35:45] Getting ready to search auctions for David Luiz...
[15:35:52] 15 results (12 in last 60 minutes)
[15:35:58] Error placing bid on David Luiz
{
  "futApiSt

[2017-03-23 13:38] mestesso93 commented on #165
Error 500 is a tempory ban. you must reduce rpm and player list

[2017-03-31 14:16] Innursery opened #166 "Auto restart after auto stop"
Is it possible to add an auto restart after auto stop.
For example:
Push Start, then auto stop after 2 hours and auto restart after 3 hours.
Thanks in advance.

[2017-04-01 11:18] Innursery opened #167 "Last sale Price"
in re-list function how can I get the last sale price or in other word my buy price
`export function relistItems(settings) {
  return async (dispatch, getState) => {
    const state = getState();
    const api = getApi(state.account.email);
    const expired = state.bid.tradepile.filter(i => i.tradeState === 'expired');
    if (expired.length > 0) {
      dispatch(addMessage('log', 'Re-listing exp

[2017-04-01 23:48] lawre32 opened #168 "Updating watchlist constantly"
this is all im getting
[00:40:42] Updating watchlist...
[00:40:43] Updating watchlist...
[00:40:46] Updating tradepile...
[00:40:47] Updating tradepile...
[00:40:51] Updating watchlist...
[00:40:51] Updating watchlist...
[00:40:55] Updating status on 4 active trades...
[00:41:00] Updating status on 4 active trades...
[00:41:02] Updating watchlist...
[00:41:05] Updating watchlist...
[00:41:07] Upda

[2017-04-04 05:09] losersFocus commented on #163
i am not getting banned anymore and you?

[2017-04-08 18:06] sburello opened #169 "new user"
i'm a very new user ( i never used a bot ).
there are maybe some instructions to start?
i tried to choose a player but the bot has not buyed it

[2017-04-08 18:07] sburello commented on #169
sorry for my bad english

[2017-04-12 01:23] marlonespindola opened #170 "node.js debugging problems..."
since I am a noob in node.js, I dont know how to debug this project.
I've made everything that had to be done.
when I type "npm run dev" it opens the program whith a window on the right side...

If I wanted to debug the login, for instance, how do I do it?

some help please.
thanks

[2017-04-12 18:55] sburello commented on #165
i leaved the rpm at 10 and i have 2 players on list but the bot tells me error 500 from 10 in morning till now

[2017-04-12 22:17] sburello opened #171 "error 505"
hi @hunterjm, the bot continues to do error 500. i read on the forum that happens because i set the rpm above 10 but now i don't know how to fix it. please help me

[2017-04-12 22:43] hunterjm commented on #171
All you can do is wait.

[2017-04-12 22:43] #171 closed

[2017-04-12 23:36] sburello commented on #171
ok, thanks!

[2017-04-13 01:12] marlonespindola commented on #170
@hunterjm  can you give me some advice?

[2017-04-13 01:24] hunterjm commented on #170
It's all JavaScript and debuggable using the devtools  window that pops up.

https://developer.chrome.com/devtools

[2017-04-13 11:43] milantenhave opened #172 "Max. listed individual players"
This function is not working, I have set it to 5 but it has listed 8 cards of him

Screenshot:
http://www.dumpt.com/img/viewer.php?file=tui005l0osfh6cv5njiv.png

[2017-04-13 12:06] marlonespindola commented on #170
Thanks @hunterjm . now I have managed to debug the project.

And congrats by this project.... Its very usefull for us who dont want to give more money to EA.

[2017-04-14 13:34] marlonespindola commented on #170
@hunterjm I am being able to debug the code. But there are some lines that I cant put a break point...
Anyone knows why is that?

[2017-04-14 23:12] marlonespindola commented on #170
@hunterjm here is what is happening
I click in the line 94 but he puts a break in 96.

![debug2](https://cloud.githubusercontent.com/assets/16193729/25058332/a749a0f2-214e-11e7-9342-339688cba99e.jpg)

any help?

[2017-04-14 23:27] davortexhd opened #173 "Trouble logging in"
Hi all, New to the project and very excited to try it (also thanks for making it and making it open source!)

My account details are correct but i cannot log in past the ea verification, the error message on the main log in screen is : Wrong Secret unable to log in

I went into the Origin account and using the same details and it works but i cannot login to the program

Any ideas anyone? Have you

[2017-04-15 17:41] marlonespindola commented on #170
For now I am using the statement
`debugger;`

but it is a paint in the ass. Wish I could debug normaly.

[2017-04-15 22:34] davortexhd commented on #173
I was putting the origin secret answer in, not the one to fifa..

oops! (CLOSED)

[2017-04-15 22:34] #173 closed

[2017-04-16 07:08] Petermc2 opened #174 "improvement suggestions"
hey, here are some improvement suggestions

1. it would be cool, if you I can switch the "update price" by myself, for example for every 10 minutes, because, the price is chaning constantly.

2. playerlist price update: there should be a bottom, were we can update all prices by 1 click and not to switch to every player and push the refresh bottom.

3. add the little items like contracts

4. there

[2017-04-16 11:24] losersFocus opened #175 "Are there still as much bans as some months before?"
Please share your experiences.

[2017-04-20 08:55] sburello opened #176 "Econnreset"
@hunterjm can't login, it says "read ECONNRESET". what can i do?

[2017-04-20 08:57] #169 closed

[2017-04-20 15:45] keithtp1 commented on #168
your min credit is to high

[2017-04-20 21:17] killerdjro opened #177 "Doesn`t work on my win xp 32 bit"
i install the program but doesn`t work on my win xp 32 bit

[2017-04-23 13:37] marlonespindola opened #178 "how do I generate EXE?"
how do I generate EXE?

[2017-04-24 07:35] jerichosouthall commented on #116
Like OP, I'm having this issue on a second account.

<img width="507" alt="screen shot 2017-04-24 at 12 34 32 am" src="https://cloud.githubusercontent.com/assets/23188868/25326618/d5482a62-2885-11e7-911a-f4860e13d19b.png">

[2017-04-25 15:03] iamthreezus opened #179 "Unable to login on second account"
Getting this error after inputting the correct information and confirming it works on console/mobile.

<img width="507" alt="d5482a62-2885-11e7-911a-f4860e13d19b" src="https://cloud.githubusercontent.com/assets/23188868/25392519/b2addeda-298d-11e7-8e2e-51adaffc17ce.png">

[2017-04-25 19:01] frayzee opened #180 "How can I run a previous verion?"
Since the update with the delay in BIN sniping I can't make any coins, I was making a very nice profit using the previous version, but now when I download an older version I'm forced to automatically update to the new inferior version?

Is there anyway I can just use the old version?

[2017-04-25 19:04] marlonespindola commented on #178
@hunterjm is there a command in NPM to generate an exe?

[2017-04-27 05:41] bysiiu opened #181 "Unknown resposne"
Hi, after typing EA Access Code and click Log In it show me this information:
"Unknown reponse. Unable to login. 200
("debug":","code":"403","reason","")
Can anyone help me?

[2017-04-27 06:44] cqxmzz commented on #164
There is mobile login api, but seems like it's not working.

[2017-04-29 09:37] Aurelloid commented on #175
After 3-4 weeks I got ban - but I make 1,1 milion :D

[2017-04-30 19:45] losersFocus commented on #175
@Aurelloid When exactly did you get banned?

[2017-04-30 19:47] Aurelloid commented on #175
@losersFocus 3 days ago

[2017-05-01 01:19] luislm4 commented on #181
I have the same problem

[2017-05-01 04:27] losersFocus commented on #175
did you have multiple bots running or just one?
what were your settings for the bot(s)? (time, rpm, how many player?)
I had some bans after a while as well on last wednesday.

[2017-05-01 07:58] Aurelloid commented on #175
I ran just 1 bot during the day rpm was 12, and I had like 40 players :)

[2017-05-01 19:58] mikeyp12345 commented on #175
just done my 1st run with the auto buyer...got 10 players on the list but not sure  it is working, been running it for 2 hours but haven't brought a player and there is nothing in the session logs, everything working ok for you guys??

[2017-05-01 21:16] mikeyp12345 opened #182 "No Bids placed??"
set up the bid list but no bids are being placed... any one else have this problem??

[2017-05-12 16:35] losersFocus commented on #175
@Aurelloid: Did you play on your console in the mean time on this account or just trading?

[2017-05-12 16:37] Aurelloid commented on #175
@losersFocus I played during trading.

[2017-05-13 07:51] vinch1n opened #183 "can't buy player,response is code 461,reason Permission Denied"
hey guys,i was try using  fut api to buy player,but got same error over and over again, anyone can help me,thanks a lot!

my request header is:

POST /ut/game/fifa17/trade/190849008774/bid HTTP/1.1
Host: utas.external.s2.fut.ea.com
User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; rv:11.0) like Gecko
Accept-Encoding: gzip, deflate
Cookie: _nx_mpcid=251e71de-9202-42e5-b4c4-6f70fae0e23e;

[2017-05-13 07:52] vinch1n commented on #183
@hunterjm help

[2017-05-18 10:33] Stuntcat opened #184 "bid.js:95 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined(…)"
Hey Hunter,

Great app, was working fine for a few days but I now get this in the console when the app trie to snipe a player. It causes all the processes to stop.

bid.js:95 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined(…)

Any ideas? I'm on a mac.

[2017-05-19 17:58] ambrozy123 opened #185 "autobuyer hanging"
autobuyer is not updating prices and sniping players
is something changed in webapp code??
do you have the same problem?

[2017-05-19 18:49] fredh981 commented on #185
mine just gets stuck after it says "updating tradepile" but sometimes it gets to "trying to snipe player" then just gets stuck there. I've deleted everything and reinstalled it but it does nothing :(

[2017-05-21 14:32] JonasPap opened #186 "Autobuyer does not start."
![problem buyer](https://cloud.githubusercontent.com/assets/22565982/26284756/d1617430-3e42-11e7-9665-4e24da1a4924.JPG)

I got that problem. I waited one time 1 hour and nothing changed.  Have I done something wrong? I selected a player and changed nothing in the settings and then went to bidding overview and pressed start.

[2017-05-21 16:25] Jeuiskeh commented on #186
yeah i got the same problem. I think its just a bug or something hopefully he'll fix it be patient XD

[2017-05-22 07:56] Stuntcat commented on #186
I have a feeling it may be a problem with EA's web app, the companion app has become very buggy.

[2017-05-22 08:47] aelnaggar commented on #185
same here stuck on "trying to snipe player" and doesn't move further :(

[2017-05-22 08:48] aelnaggar commented on #186
same here on MacOS seems like a general bug

[2017-05-22 19:24] JonasPap commented on #186
problem still exists for me atm, same for you guys?

[2017-05-22 19:40] dham84 commented on #186
Been seeing this for about a week, actually never seen it work (recently discovered it).

[2017-05-23 08:00] marionety commented on #186
Same here.

[2017-05-24 07:38] potoq commented on #175
I've banned on two accounts. My guess is 4hr+ usage I. A day.

[2017-05-26 07:09] DhananjaySherawat commented on #186
Its not working,i thought it was a temporary ban but i can search from my web app,but i gets stuck on updating prices .This has been like this for a week now, Its the best autobuyer for fifa and i am an ardent fan of it,hope they fix the issue soon.

[2017-05-26 07:47] marionety commented on #186
There is a problem with the response on bid.js, line 93
it's not returning the object auctionInfo that is needed after. I can't fix it right now, hope someone can.

`try {
      binResponse = await api.search(binFilter);
    } catch (e) {
      dispatch(addMessage('error', 'Error searching for BIN on ${player.name}', e));
      binResponse = { auctionInfo: [] };
    }
    console.log(binResponse);

[2017-05-26 12:00] DhananjaySherawat commented on #186
I think hunter would be working on it Maybe but there hasn't been any reply or statement from him. I Hope he is working on it and if he could just tell us that he is indeed working on it , everyone would breath a sigh of relief because THIS AB IS THE BEST

[2017-05-31 16:15] DhananjaySherawat commented on #186
when is this going to be fixed ???????

[2017-05-31 18:54] TomPalin commented on #186
Im still having this problem on MacOS. I hope its fixed soon enough for TOTS Liga Santander.

[2017-06-01 06:23] DhananjaySherawat commented on #186
i am hoping for the same brother

[2017-06-02 00:08] Trishift opened #187 "Uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
Uncaught (in promise) TypeError: Cannot read property 'length' of undefined

 dispatch(addMessage('log', `${binResponse.auctionInfo.length} BIN found for ${player.name}...`));

There is a bug in line 95. Possible suggestions to fix?

[2017-06-02 00:55] marlonespindola commented on #187
For now I ve done with a try catch there... Worked for me

[2017-06-02 00:57] Trishift commented on #187
Could you please elaborate on that? I'm not very good with code, it would mean a lot to me. Thanks in advance!

[2017-06-02 02:34] Trishift commented on #170
@marlonespindola

I was wondering where you inserted the try...catch for the error on line 95?

Thanks for your help :)

[2017-06-02 03:08] Trishift commented on #187
@marlonespindola Could you please help me?

I would appreciate it so much i've been trying to fix it for hours.

[2017-06-02 22:08] Trishift opened #188 "bid.js:328 Uncaught (in promise) TypeError: Cannot read property 'filter' of undefined(…)"
The log stops at Updating tradepile...

Any ideas?

[2017-06-03 01:58] Trishift commented on #186
@marionety Did you end up fixing it?

[2017-06-03 20:57] hunterjm commented on #187
The latest release should work, unless they changed something else.

[2017-06-03 21:05] Trishift commented on #187
@hunterjm I believe they may have.

bid.js:328 Uncaught (in promise) TypeError: Cannot read property 'filter' of undefined(…)

export function relistItems(settings) {
  return async (dispatch, getState) => {
    const state = getState();
    const api = getApi(state.account.email);
    const expired = state.bid.tradepile.filter(i => i.tradeState === 'expired');
    if (expired.length > 0) {

[2017-06-04 08:52] TomPalin commented on #186
I can confirm it has been fixed in the new update about now. Thanks so much Hunter. Really appreciate the hard work

[2017-06-04 08:52] TomPalin commented on #188
Install the new update. It has been fixed in that.

[2017-06-04 12:00] JonasPap commented on #186
do you guys have any tipps how to make the best profit? how im using it atm i make like 5-10k an hour. an thats not very much.

[2017-06-11 20:36] romzthebeast opened #190 "i keep getting an error code 500"
{
  "futApiStatusCode": 500,
  "reason": ""
}
 what does this code mean i would be grateful if some one could help me.

great tool though just a shame its not very consistent i find that it bugs a little please release a further update to improve it further.
Thanks

[2017-06-11 20:36] romzthebeast commented on #190
@hunterjm

[2017-06-11 21:43] slimbo123 commented on #190
it means your banned, try bidding on the web app. if you cant, wait 24 hours and try again.

[2017-06-11 22:17] slimbo123 commented on #190
but i get error 461 about 99% of the time i get outbid which is annoying because it basically only does 1 bid and loses the auction

[2017-06-12 09:37] Jeuiskeh commented on #190
error 500 is very likely that your have been temporarily banned like slimbo said

[2017-06-12 09:37] Jeuiskeh commented on #190
use your bot with a low rpm and don't use it for an excessive amount of time

[2017-06-12 15:35] romzthebeast commented on #190
@slimbo123 @Jeuiskeh
yeah i find that i have been banned if that is the problem for a significant amount of time. But i am going to try using my console to use the market then turn on the bot after. any suggestions on rpm?

[2017-06-12 16:56] Jeuiskeh commented on #190
i use 6 or 5 rpm because i want the bot to bid on stuff and not BIN so yeah usually the bans last like 4-9 hours then you should be fine.

[2017-06-12 19:15] romzthebeast commented on #190
Thanks I've got it working perfectly😇

[2017-06-13 11:02] slimbo123 opened #191 "Error 456"
new error, you have to log into the webapp and it makes you calculate a maths question.

after i calculated it and went back into autobuyer. the error appeared again.

calculated it again, stopped using autobuyer. Got into a bidding war in the webapp and it logged me out and made me do another calculation! lost the auction too

[2017-06-13 11:04] slimbo123 commented on #191
[screenshot](https://i.redd.it/pwlsz344db3z.png)

[2017-06-13 15:32] Jeuiskeh commented on #191
probably because they suspect you of being a bot

[2017-06-13 15:38] slimbo123 commented on #191
no its happening to normal users on reddit too, even futbin can't update fast enough due to this

[2017-06-13 17:40] Jeuiskeh commented on #191
Yeah i've read on reddit that anyone using a rpm of 3 or higher will get this because ea is using this to get rid off people using bots as it takes way too long to quit the bot, log onto the web app do the "maths problem" and use the bot again. This is very inefficient so most botters will stop as they will be put off by this. The only way to not get the captcha is to use a very low rpm like 1-3rp

[2017-06-13 19:44] Jeuiskeh commented on #191
nvm haha its fixed it was probably a bug from ea that was fixed lol

[2017-06-13 19:45] slimbo123 commented on #191
really? nice! so what RPM should we use?
thanks for keeping me updated

[2017-06-13 22:05] Jeuiskeh commented on #191
i always use 6 rpm usually just because i use the bot to bid on items rather than BIN just never use an rpm higher than 10 in my opinion.

[2017-06-13 22:48] #188 closed

[2017-06-13 22:48] #187 closed

[2017-06-13 22:49] #186 closed

[2017-06-13 22:49] #184 closed

[2017-06-13 22:49] #185 closed

[2017-06-13 22:50] #182 closed

[2017-06-14 04:58] #191 closed

[2017-06-28 22:33] atovik commented on #91
i think his talking about the 401 code (session expired. cf screen shoot, im using the 0.4.5 version)...there is any solution plz ?

![capture d ecran 2017-06-29 a 00 30 17](https://user-images.githubusercontent.com/3350505/27663380-61f218dc-5c62-11e7-9bb8-da6ce1184dbc.png)

[2017-06-29 00:07] marlonespindola opened #193 "Plans for the future"
@hunterjm any plans in continuing this auto buyer for FIFA 18??

[2017-06-29 00:08] hunterjm commented on #193
Most likely.

[2017-06-29 00:14] marlonespindola commented on #193
👍

[2017-06-29 09:56] Fotospecht commented on #193
What this programs needs is a scheduler that lets you configure at what times the program runs, for how many hours, at random times etc.

All of my accounts have been banned after some time, even with RPM=4.
The autobuyer has to mimic human behaviour better than with the current version.

[2017-07-07 19:14] freygang opened #194 "Compile"
Hey guys. I tried to compile the code. However I had some issues. I'm testing some news things in the code, so can you tell me how do I compile it in my own? Thanks in advance!

[2017-07-13 18:58] freygang commented on #194
Guys, sorry for insist in this.. can please someone help me ? Anyone knows how to do it ? Thanks.

[2017-07-14 10:31] syros1977 commented on #193
I hope you keep going with this ab for fifa 18!

[2017-07-15 19:19] Jeezie opened #195 "Login error: Exceeded maxRedirects [...]"
Error:
![Error](https://d3higte790sj35.cloudfront.net/images/ae/sz/95197d20f8d006b57978b2aa56554d45.jpeg)

[2017-07-24 12:07] marlonespindola commented on #195
It's happening with me too... Any one else??

[2017-07-25 21:07] dham84 opened #196 "Stuck Updating Price"
I've noticed that the app seems to get stuck when updating prices... seemingly randomly, though I'm sure there's an issue not seen in the app Log.
It doesn't happen with specific players on my list, sometimes it updates one or two and hangs on the third, sometimes it hangs with the first one.

My workaround is to go to the player page and continuously hit Update and toggle between the Bio and Watc

[2017-07-29 09:55] ylms commented on #196
It is EA sided, you are getting rate limited.

[2017-07-29 11:52] DjTrilogic opened #197 "Use typescript/tsx for fifa 18"
Is it possible to rewrite the code in Typescript for next year's version, I think it'll boost the productivity ...

[2017-08-01 11:41] marlonespindola commented on #195
Did you see the warning that is showing now about react package??
![react_warning](https://user-images.githubusercontent.com/16193729/28823639-fbb4727a-7694-11e7-8dd6-e6f229d9e977.jpg)

@hunterjm show we update this package??

[2017-08-02 19:12] blumy1 opened #198 "Scam"
Don't use it. It just takes your account data (password etc.). And does nothing.

[2017-08-02 19:20] hunterjm commented on #198
Are you a software engineer? Can you read code? Obviously not, since otherwise you would know that the credentials entered are used to authenticate with EA’s web app, but never leave your computer otherwise.

[2017-08-02 19:20] #198 closed

[2017-08-02 19:24] blumy1 commented on #198
Unfortunately, you are wrong. So tell me why when I give the correct data,
I have an error that I gave wrong secret answer? :)

[2017-08-02 19:25] celioreyes commented on #198
@blumy1 b/c you gave the wrong secret answer? 🤔

[2017-08-02 19:27] blumy1 commented on #198
Funny. Keep going with scamming people.

[2017-08-02 19:52] hunterjm commented on #198
So you are telling me you put the same secret into this web app (https://www.easports.com/fifa/ultimate-team/web-app), and it logs you in?

The secret is for the app itself, not your EA account. Many other people have had the same issue if you had just bothered to search.

Now don’t you feel stupid.

[2017-08-02 20:39] celioreyes commented on #198
@blumy1 💩

[2017-08-03 09:12] Syzak98 opened #199 "Auto update prices"
Hi!
I have an issue with auto update prices... In log everything stops and program does nothing.

![213](https://user-images.githubusercontent.com/30688518/28914572-750f2900-783c-11e7-81b7-7e714b6f74ec.PNG)

[2017-08-03 12:11] ylms commented on #199
The dev needs to pull this update;
https://github.com/hunterjm/fifa-autobuyer/pull/192

Otherwise the bot will always stuck on failure.

[2017-08-03 22:39] hunterjm commented on #197
Updates for FIFA 18 will probably not need to be made in this project.  The logic for connecting to EA's servers lives in https://github.com/hunterjm/fut-api.  It would be too much effort with little to no benefit for the project to switch to typescript, so likely not something I'm going to take on.

[2017-08-03 22:39] #197 closed

[2017-08-03 22:40] hunterjm commented on #196
#192 may fix this.  It is building now and will release v0.4.6 later today.

[2017-08-03 22:41] hunterjm commented on #199
Merged in, app should auto-update sometime later today.

[2017-08-03 22:42] hunterjm commented on #195
@marlonespindola - no, that shouldn't have anything to do with it.  Have you verified you can login to the web-app fine?

[2017-08-03 22:43] hunterjm commented on #194
The README should have everything you need to know in it.  What are you having issues with?

[2017-08-04 00:22] marlonespindola commented on #195
@hunterjm yes I'm using the web app normally

[2017-08-04 16:32] hunterjm commented on #199
should work in v0.4.7 (#201)

[2017-08-04 16:32] #199 closed

[2017-08-04 16:32] hunterjm commented on #196
should work in v0.4.7 (#201)

[2017-08-04 16:32] #196 closed

[2017-08-04 16:32] hunterjm commented on #195
should work in v0.4.7 (#201)

[2017-08-04 16:32] #195 closed

[2017-08-04 16:35] hunterjm commented on #178
`npm run package` is what you are looking for.  Note that the app will not be code signed unless you are using the official release.  You might also need to modify and/or remove the auto-update code otherwise whenever I publish a new version, your changes will get overwritten.

[2017-08-04 16:35] #178 closed

[2017-08-04 16:36] hunterjm commented on #180
You can checkout the tag and run locally.  Otherwise, no.  The delay was added in to help prevent bans.

[2017-08-04 16:36] #180 closed

[2017-08-04 16:37] hunterjm commented on #177
It's only packaged for x64.

[2017-08-04 16:37] #177 closed

[2017-08-04 16:38] hunterjm commented on #176
check your internet connection.

[2017-08-04 16:38] #176 closed

[2017-08-05 00:36] marlonespindola commented on #195
@hunterjm I have downloaded the new version, but I still getting the same error message.
should I run any command to update CSS and fut-promisse library here too?

[2017-08-05 00:40] marlonespindola commented on #195
@hunterjm done, updated the fut-promise library... now is working

[2017-08-05 11:55] marlonespindola commented on #193
@hunterjm is there any chance to make this work on a mobile device? that would be great.

[2017-08-10 10:06] tomtomate opened #203 "Keep getting "Wrong secret""
Hello.

Ich cant Login to the webapps via this Programm. It keeps telling wrong secret although the secret Code ist right and freshly pasted out of my mail account.
After a few tries i cant use the original webapp as well anymore, and it says that i need to access FIFA ultimate Team via my xbox to Reset my secret question. Somehow i think the secret authenthification Key and the secret question ar

[2017-08-10 15:04] hunterjm commented on #203
The secret for the app is your FUT account’s secret question, NOT your EA account (the web app asks for it after you log in before letting you transfer).

You were probably using the wrong one. Just reset your secret on your console, and use that one next time.

[2017-08-10 15:04] #203 closed, assigned to nobody

[2017-08-18 20:49] Tobizy opened #204 "Problem Login Load"
Hello first times sorry for my bad english I come from germany I have a problem with the fifa autobuyer if I want to lie in and the two factor code is loading it eternally and does not listen on it now already 10 minutes could they help me please? screenshot is  attached to

![unbenannt](https://user-images.githubusercontent.com/31143328/29477162-749fc15a-8467-11e7-9aca-1879ce25f4cd.PNG)

[2017-08-18 22:45] #204 closed, assigned to nobody

[2017-08-19 00:45] hunterjm commented on #204
Did you close this because you got it working? What was the problem?

[2017-08-19 01:19] Tobizy commented on #204
I was banned had to enter a code in the webapp afterwards it went again because of this I closed it it was probably because I have requested too many security codes LG

[2017-08-20 22:20] Tobizy opened #205 "SET BIN and Sniping"
Hello I'm from germany and have 2 questions my first question is what SET BIN means I know what buy price and sell price is not what is SET BIN. My 2 question is whether the autobuyer at all to the snipen is intended I put the rpm to 100 and am snipe only but I get nevertheless nevertheless no player have already tried several what what I would still adjust that he me also ersnipt? Hope you could

[2017-08-20 22:25] Tobizy commented on #205
![unbenannt](https://user-images.githubusercontent.com/31143328/29498978-277499c2-8607-11e7-94f1-220cd488bd2a.PNG)
 Here a screenshot from my sniping settings  :)

[2017-08-28 08:35] quaintdude opened #206 "Additional bid gets error "461""
Hi, I just started to use your wonderful program, but always getting an error if I need to place an additional bid on any item:

[code]

Would be great if someone could help.

[2017-09-25 11:42] DjTrilogic opened #207 "I'm ready to contribute for FUT 18"
Hello,

WebApp is up since few days, people already started building their squads.

I used to use C# api, but this year, I'd love to use this one and I'm ready to contribute (no matter how :p )

Any motivation out there ?

[2017-09-25 14:29] sipahis commented on #207
*thumbsup*

[2017-09-25 21:31] Mardaneus86 commented on #207
It looks like [this PHP repository](https://github.com/InkedCurtis/FUT18-WebApp-Connector) is a good starting point to get some ideas. Maybe this can be ported to JS.

[2017-09-28 13:32] ethansam89 opened #208 "When creating the new AUTOBUYER for FIFA 18, please take inspiration from FUTmatebot"
www.futmatebot.com has a great autobuyer and allows a free trial. Please take ideas from in to create the new one.

[2017-09-28 13:52] ylms commented on #208
This isn't a place where you can advertise your bot.

[2017-09-28 14:18] ethansam89 commented on #208
It's not my bot bro, I'm 17 and don't know the least bit about coding.

Sent from my iPhone

[2017-10-02 11:07] marionety commented on #208
Only is needed to update the api, this app should work when it's done.

[2017-10-02 17:58] francoro93 opened #209 "FIFA 18 "Unknown response. Unable to login" message"
I get the "Unknown response. Unable to login" message
I am trying this for FIFA 18

[2017-10-02 18:26] ZakariaAhmed commented on #208
futmatebot, is the worst crap I have ever seen, poor handling even of the two factor auth.
not even talking about the design either. so yah this post from ethansam is probably an advert

[2017-10-02 19:39] ethansam89 commented on #208
Well it's actually mad, and I'm not advertising it. But believe what you want. I'm currently using the Mulefactory plugin for it, and have made £100 this week.

Sent from my iPhone

[2017-10-02 21:07] maxsslob commented on #208
ethansam89, how many accounts do you run? Which platform?

[2017-10-02 22:37] nilssonfer commented on #209
Me too :/ I'm also having the same problem. Please, what is the solution to access the application?

[2017-10-03 06:35] ethansam89 commented on #208
1 because I haven't unlocked any others yet and on Xbox one.

Sent from my iPhone

[2017-10-03 06:52] Mardaneus86 commented on #209
That's because the login flow for FIFA 18 changed quite a bit.

I've been working on a new version and I just got the API working (see [this PR](https://github.com/hunterjm/fut-api/pull/1)). Unfortunately I'm unable to test/compile this Electron project on my machine.

[2017-10-03 07:22] Mardaneus86 commented on #209
Alright, it's working on my machine now. If @hunterjm accepts the PR we can use this tool again.

[2017-10-03 17:40] francoro93 commented on #209
Thats great news, hopefully he does!

[2017-10-05 00:08] andresoro commented on #209
How can I get it working on my machine? @Mardaneus86

[2017-10-05 08:11] gianemi2 commented on #209
@andresoro Mardaneus86 has a repository called **futwebapp-tempermonkey**. You can use this for autobuyer directly on fut web app.

[2017-10-05 10:29] Mardaneus86 commented on #209
@andresoro: I suggest we wait until @hunterjm does the necessary checks and some additional work to prevent you from getting banned before using this tool.

And indeed, if you really want a simple autobuyer in the web app right now (BIN snipe only for now, still in experimental phase), you can check my repo here: https://github.com/Mardaneus86/futwebapp-tampermonkey

[2017-10-05 16:33] jrwj commented on #209
do you have any idea as to how long the time frame will be until hunter does the checks and work to get it up and running as it is supposed to?

[2017-10-05 17:25] hunterjm commented on #209
I've looked at it, but with EA becoming more strict on bans, I am likely going to try building it into the new WebApp directly, since it is no longer flash based.  This should help it look more "human" and overall be much less risky.

I wouldn't feel comfortable releasing the API integration as it stands today, because there is a lot of things EA does that this autobuyer currently does not do.

[2017-10-06 08:44] aftershock9 commented on #209
Thanks for the update @hunterjm. How do you plan to build the autobuyer into the webapp directly. I am interested, because it sounds awesome and efficient way of achieving it.

[2017-10-09 21:53] dodger9 commented on #209
@hunterjm Hello and thank you,
I just want to know if I will be able to use autobuyer soon?

[2017-10-10 20:21] francoro93 commented on #209
@Mardaneus86 are any of the feature that you currently have on you web app allow you to buy now snipe?

[2017-10-11 15:43] GooTeuR commented on #209
same issue for connection

[2017-11-06 11:29] Bendecks commented on #209
Is this project dead then? :-(

[2017-11-16 23:39] anzhehong opened #210 "Question: FIFA 18 Update"
Hi Hunterjm,

Have you already been working on the updates for Fifa 18 auto-buyer? Thanks.

[2017-11-17 14:47] dodger9 commented on #210
Can I use the auto-buyer for fifa 18 and how?

[2017-12-07 22:06] JhonMaya commented on #209
"login2  is not constructor"

[2017-12-28 12:42] frbuccoliero opened #211 "Fifa 18 project died?"
As written in the title.
Is the Fifa 18 upgrade died?

[2018-03-05 08:00] andreimerfu commented on #211
Up+

[2018-05-27 17:08] ps4geek commented on #208
Instead of wasting your money on this garbage, there is a superb list of FIFA 18 trading bots on Reddit here: https://www.reddit.com/r/fifa18tradingbot/

[2018-05-27 17:33] #208 closed, assigned to nobody

[2018-06-12 14:35] ghost commented on #208
This page doesn't seem to exist.

Thank you,
Michael O'Mahony
Executive Director
MPC Retail Group Ltd.
________________________________
From: ps4geek <notifications@github.com>
Sent: 27 May 2018 18:09
To: hunterjm/fifa-autobuyer
Cc: Subscribed
Subject: Re: [hunterjm/fifa-autobuyer] When creating the new AUTOBUYER for FIFA 18, please take inspiration from FUTmatebot (#208)

Instead of wasting your